.popular-category {
  max-width: 1340px;
  padding: 0 1.25rem;
  margin: 6.4375rem auto 0 auto;
}

.popular-category__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular-category__header .custom-button {
  font-family: "DIN Pro Cond";
  font-weight: 700;
  text-transform: uppercase;
}

.popular-category__title {
  text-transform: uppercase;
}

.popular-category__cards-container {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.popular-category__item:nth-child(1) {
  grid-area: 1 / 1 / 2 / 2;
}
.popular-category__item:nth-child(2) {
  grid-area: 1 / 2 / 2 / 3;
}
.popular-category__item:nth-child(3) {
  grid-area: 1 / 3 / 2 / 4;
}
.popular-category__item:nth-child(4) {
  grid-area: 2 / 1 / 3 / 2;
}
.popular-category__item:nth-child(5) {
  grid-area: 2 / 2 / 3 / 3;
}
.popular-category__item:nth-child(6) {
  grid-area: 2 / 3 / 3 / 4;
}

.popular-category__item:nth-child(odd) {
  background-color: #eef3f5;
}

.popular-category__item:nth-child(even) {
  background-color: #f0f0f0;
}

.popular-category__item {
  padding: 1.5rem 1.5rem 1.8125rem 1.5rem;
  display: flex;
  justify-content: start;
  flex-direction: column;
  height: 30.9375rem;
  background-color: green;
  position: relative;
}

.popular-category__item::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 15px 14px -3px rgba(48, 48, 48, 0.07);
  opacity: 0;
  z-index: -1;
}

.popular-category__item:hover:after {
  opacity: 1;
  transition: opacity 0.2s ease;
}

.popular-category__item-title {
  color: var(--text-black);
  margin-bottom: 0.75rem;
  text-transform: uppercase;
}

.popular-category__item-category-name {
  font-size: var(--text-xxs);
  color: var(--text-gray);
  line-height: 1.5rem;
  margin-bottom: 0.5rem;
  letter-spacing: 0.03rem;
}

.popular-category__item-category-name:not(:last-child) {
  margin-bottom: 0.5rem;
}

.popular-category__item-footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}

.popular-category__item-button {
  margin-top: auto;
  background: url(../../icons/black-arrow.svg) no-repeat center center;
}

.popular-category__item-button:hover {
  background-image: url(../../icons/white-arrow.svg);
}

.popular-category__item-img-container {
  width: 60%;
  display: flex;
  bottom: 0;
  position: absolute;
  right: 0;
  justify-content: center;
  pointer-events: none;
}

@media (max-width: 991.98px) {
  .popular-category__cards-container {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 8px;
  }

  .popular-category__item:nth-child(1) {
    grid-area: 1 / 1 / 2 / 2;
  }
  .popular-category__item:nth-child(2) {
    grid-area: 1 / 2 / 2 / 3;
  }
  .popular-category__item:nth-child(3) {
    grid-area: 2 / 1 / 3 / 2;
  }
  .popular-category__item:nth-child(4) {
    grid-area: 2 / 2 / 3 / 3;
  }
  .popular-category__item:nth-child(5) {
    grid-area: 3 / 1 / 4 / 2;
  }
  .popular-category__item:nth-child(6) {
    grid-area: 3 / 2 / 4 / 3;
  }
}

.popular-category__slider-container {
  display: none;
}

@media (max-width: 767.98px) {
  .popular-category__cards-container {
    display: none;
  }
  .popular-category__header {
    flex-direction: column;
    align-items: start;
  }
  .popular-category__header .custom-button {
    margin-top: 16px;
  }

  .popular-category__slider-container {
    width: 100%;
    height: 100%;
    display: block;
    margin-top: 24px;
  }

  .popular-category__item {
    height: 20rem;
  }
}

@media (max-width: 575.98px) {
  .popular-category__item-img-container {
    width: unset;
    height: 50%;
    right: 20px;
    justify-content: end;
  }
}
