.ui-popup {
  position: fixed;
  width: 100vw;
  height: 100vh;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 100;
  display: none;
}

.ui-popup.--active {
  display: block;
}

.ui-popup-container {
  position: absolute;
  right: 0;
  z-index: 101;
  background-color: #ffffff;
  min-width: 300px;
  padding: 56px 24px 56px 24px;
}

.ui-popup-title {
  font-family: "DIN Pro Cond";
  font-weight: 700;
  font-size: 40px;
  line-height: 110%;
  text-transform: uppercase;
  color: #333333;
}

.ui-popup-inputs-list {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.ui-popup-submit-button {
  margin-top: 32px;
  font-family: "DIN Pro Cond";
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  text-transform: uppercase;
  color: #ffffff;
}

.ui-popup.--default .ui-popup-container {
  width: 532px;
}

.ui-popup-close-button {
  position: absolute;
  height: 62px;
  width: 62px;
  background-image: url(../../icons/gray-cross.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  left: -86px;
  top: 0;
}

.ui-popup-close-button:hover {
  background-color: #1c48a0;
  border-color: #1c48a0;
  background-image: url(../../icons/white-cross.svg);
  transition: background-color 0.2s ease, border-color 0.2s ease;
}

.ui-popup-close-button:active {
  background-color: #2655b4;
  border-color: #2655b4;
}

@media (max-width: 767.98px) {
  .ui-popup-close-button {
    width: 43px;
    height: 43px;
    left: unset;
    right: 0;
    top: -67px;
  }
}
