.ui-searchable-dropdown {
  max-width: 436px;
  background-color: inherit;
}

.ui-searchable-dropdown.--open .ui-searchable-dropdown-header::after {
  transform: rotate(270deg);
}

.ui-searchable-dropdown-header {
  background-color: inherit;
  line-height: 160%;
  letter-spacing: 0.03rem;
  color: #2c2c2c;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.ui-searchable-dropdown-header::after {
  content: "";
  height: 25px;
  width: 25px;
  margin-left: auto;
  display: block;
  background-image: url(../icons/gray-chevron-right.svg);
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(90deg);
}

.ui-searchable-dropdown-body {
  margin-top: 24px;
  background-color: #ffffff;
  display: none;
}

.ui-searchable-dropdown.--open .ui-searchable-dropdown-body {
  display: block;
}

.ui-searchable-dropdown-input-container {
  display: flex;
  position: relative;
  height: 40px;
}

.ui-searchable-dropdown-input-container::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  top: calc((100% / 2) - 10px);
  left: 16px;
  display: block;
  background-image: url(../icons/gray-search.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.ui-searcheble-dropdown-input {
  flex: 1;
  border-radius: 0;
  border: 1px solid #dddddd;
  width: inherit;
  line-height: 160%;
  letter-spacing: 0.03rem;
  color: #2c2c2c;
  padding: 0 44px 0 44px;
}

.ui-searcheble-dropdown-input:focus {
  outline: 1px solid #1c48a0;
}

.ui-searcheble-dropdown-input::placeholder {
  line-height: 160%;
  letter-spacing: 0.03rem;
  color: #2c2c2c;
}

.ui-searchable-dropdown-list {
  max-height: 416px;
  border-bottom: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  display: flex;
  flex-direction: column;
  gap: 11px;
  height: inherit;
  overflow-y: auto;
}

.ui-searchable-dropdown-list-item {
  line-height: 160%;
  letter-spacing: 0.03rem;
  color: #333333;
  padding-left: 18px;
  padding-right: 18px;
}

.ui-searchable-dropdown-list-item:first-child {
  padding-top: 18px;
}

.ui-searchable-dropdown-list-item:last-child {
  padding-bottom: 18px;
}
