h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Din pro Cond";
  font-weight: 700;
  color: var(--text-black);
}

h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

h6 {
  font-size: var(--h6);
}

@media (max-width: 1399.98px) {
}

@media (max-width: 1199.98px) {
}

@media (max-width: 991.98px) {
  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 58px;
  }

  h3 {
    font-size: 36px;
  }
}

@media (max-width: 767.98px) {
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 44px;
  }

  h3 {
    font-size: 30px;
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 20px;
  }

  h6 {
    font-size: 16px;
  }
}

@media (max-width: 575.98px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 18px;
  }

  h6 {
    font-size: 14px;
  }
}
