.header {
  z-index: 10;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: #f9f9f9;
}

.header__scroll-down-button {
  visibility: hidden;
  position: fixed;
  z-index: 1;
  top: 11rem;
  right: 0.875rem;
  height: 3.75rem;
  width: 3.75rem;
  background-color: #e6e9ed;
  background-image: url(../icons/black-chevron-down.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid transparent;
}

.header__scroll-down-button:hover {
  transition: background-color 0.2s ease;
  background-color: #fff;
  border: 1px solid #dddddd;
  z-index: 10;
}

.header__info-container {
  background-color: transparent;
}

.header-info {
  max-width: 1340px;
  padding: 0 1.25rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 1rem 1.25rem 0.75rem 1.25rem;
}

.header-info__dropdown-content-wrapper {
  display: flex;
  align-items: center;
}

.header-info__dropdown-content-wrapper::before {
  content: "";
  background-image: url(../icons/black-geo.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  margin-right: 0.25rem;
  height: 1.25rem;
  width: 1.25rem;
}

.header-info__geo-text {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 170%;
  letter-spacing: 0.03rem;
  color: #333333;
}

.header-info__geo-button {
  margin-left: 0.25rem;
  background-image: url(../icons/black-chevron-down.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 1.25rem;
  width: 1.25rem;
}

.header-info__phone {
  margin-left: auto;
  font-family: "DIN Pro Cond";
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 130%;
  color: #333333;
}

.header-info__phone-dropdown {
  height: 1rem;
  padding: 0.0625rem 0;
  width: 1rem;
  margin-left: 0.25rem;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.header-info__phone-dropdown-dot {
  height: 0.125rem;
  width: 0.125rem;
  background-color: #333333;
  border-radius: 50%;
}

.header-info__callback {
  font-weight: 400;
  font-size: 0.875rem;
  margin-left: 0.75rem;
  line-height: 170%;
  letter-spacing: 0.03rem;
  color: #333333;
}

.header__main-container {
  background-color: #fff;
  height: 6.25rem;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}

.header-main {
  max-width: 1340px;
  padding: 0 1.25rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 100%;
}

.header-main__burger {
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.header-main__burger-line {
  width: 100%;
  height: 0.1875rem;
  background-color: #333333;
  border-radius: 3px;
}

.header-main__catalog-link,
.header-main__request-link {
  margin-left: 0.625rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #333333;
}

.header-main__logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.header-main__searcher-container {
  margin-left: auto;
  display: flex;
  width: 5.125rem;
  position: relative;
}

.header-main__searcher {
  width: 100%;
  line-height: 130%;
  letter-spacing: 0.03em;
  padding-left: 1.875rem;
  color: #333333;
  position: relative;
}

.header-main__searcher-button {
  z-index: 1;
  position: absolute;
  height: 1.25rem;
  width: 1.25rem;
  background-image: url(../icons/gray-search.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.header-main__basket-link,
.header-main__personal-area-link {
  height: 1.25rem;
  width: 1.25rem;
  background-repeat: no-repeat;
  background-position: center;
}

.header-main__basket-link {
  margin-left: 32px;
  background-image: url(../icons/gray-cart.svg);
}

.header-main__personal-area-link {
  margin-left: 1.5rem;
  background-image: url(../icons/gray-user.svg);
}

.main-menu {
  display: none;
  background-color: #fff;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.main-menu.--active {
  display: flex;
}

.main-menu__controls {
  background-color: rgba(249, 249, 249, 1);
  display: flex;
  flex-direction: column;
  min-width: 510px;
  overflow-y: auto;
}

.main-menu__controls-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 48px 55px 0 55px;
}

.main-menu__controls-title {
  font-family: "DIN Pro Cond";
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  text-transform: uppercase;
  color: #000000;
}

.main-menu__controls-button {
  width: 20px;
  height: 20px;
}
.main-menu__controls-button:after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  background-image: url(../icons/gray-cross.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.main-menu__links {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.main-menu__item {
  padding: 24px 55px;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.03rem;
  color: #333333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
}

.main-menu__item:first-child {
  border-top: 1px solid #ddd;
}

.main-menu__item::after {
  content: "";
  display: block;
  height: 20px;
  width: 20px;
  background-image: url(../icons/gray-chevron-right.svg);
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(90deg);
}

.main-menu__item:hover {
  color: rgba(28, 72, 160, 1);
}

.main-menu__item.--active {
  background-color: rgba(28, 72, 160, 1);
  color: #fff;
}

.main-menu__item.--active:after {
  background-image: url(../icons/white-chevron-right.svg);

  transform: rotate(0deg);
}

.footer__footer {
  padding: 0 55px;
  margin-top: 40px;
}

.main-menu__content-container {
  padding: 40px;
  margin-left: 30px;
  background-color: rgba(249, 249, 249, 1);
  overflow-y: auto;
  width: 100%;
}
.main-menu__content-container .footer__footer {
  display: none;
}

.main-menu__content-header {
  display: none;
  align-items: center;
  justify-content: space-between;
}
.main-menu__content-title {
  font-family: "DIN Pro Cond";
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  text-transform: uppercase;
  color: #000000;
}
.main-menu__content-button {
  width: 20px;
  height: 20px;
}
.main-menu__content-button::after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  background-image: url(../icons/gray-cross.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.main-menu__catalog {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.main-menu .footer__footer {
  padding-bottom: 50px;
}

.main-menu__second-level {
  display: none;
}
.main-menu__second-level.--active {
  display: flex;
}

.header-callback-popup {
  display: none;
  z-index: 20;
  width: 100%;
  height: 2000px;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  position: fixed;
  top: 0px;
}
.header-callback-popup.--active {
  display: block;
}

.header-callback-popup__container {
  margin-left: auto;
  margin-right: 16px;
  width: 528px;
  position: relative;
  padding: 40px 24px;
  background-color: #fff;
}

.header-callback-popup__title {
  font-family: "DIN Pro Cond";
  font-weight: 700;
  font-size: 40px;
  line-height: 110%;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 40px;
}

.header-callback-popup .custom-form-input {
  margin-top: 40px;
}
.header-callback-popup__button {
  font-family: "DIN Pro Cond";
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  text-transform: uppercase;
  color: #ffffff;
}

.header-callback-popup__close-button {
  position: absolute;
  right: 580px;
  left: -74px;
  top: 0;
}
.header-callback-popup__close-button:hover::after {
  background-image: url(../icons/white-cross.svg);
}

.header-callback-popup__close-button::after {
  content: "";
  display: block;
  height: 24px;
  width: 24px;
  background-image: url(../icons/gray-cross.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.header-callback-popup__footer {
  margin-top: 32px;
  display: flex;
}

.header-callback-popup__text {
  margin-left: 20px;
  display: inline;
  font-size: 14px;
  line-height: 170%;
  letter-spacing: 0.03em;
  color: #2c2c2c;
}

.header-callback-popup__text-link {
  color: #1c48a0;
  cursor: pointer;
}
.header-callback-popup .--required-form-input .custom-form-input__label::after {
  content: url(../icons/black-asterisk.svg);
}

/* оставил на всякий */
/* .header-main__burger span:nth-child(1) {
  top: 0px;
}

.header-main__burger span:nth-child(2),
.header-main__burger span:nth-child(3) {
  top: 18px;
}

.header-main__burger span:nth-child(4) {
  top: 36px;
}

.header-main__burger.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.header-main__burger.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.header-main__burger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.header-main__burger.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
} */

.header-product-searcher {
  position: fixed;
  z-index: 111;
  width: 100%;
  height: calc(100vh - 152px);
  bottom: 0;
  background-color: #fff;
  display: none;
}
.header-product-searcher__container {
  max-width: 1340px;
  padding: 0px 20px;
  margin: 0 auto;
}
.header-product-searcher__input-container {
  display: flex;
  align-items: center;
  position: relative;
}
.header-product-searcher__input {
  padding: 25.5px 24px;
  font-weight: 700;
  font-size: 16px;
  line-height: 170%;
  letter-spacing: 0.03em;
  color: #333333;
  width: 100%;
  border-bottom: 1px solid #ddd;
}

.header-product-searcher__clear-button {
  position: absolute;
  height: 30px;
  width: 30px;
  background-image: url(../icons/gray-cross.svg);
  background-position: center;
  background-repeat: no-repeat;
  right: 24px;
}

.header-product-searcher__result-count {
  margin-top: 24px;
}

.header-product-searcher__result-text {
  font-size: 14px;
  line-height: 170%;
  letter-spacing: 0.03rem;
  color: #b3b3b3;
}

.header-product-searcher__count-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 170%;
  letter-spacing: 0.03rem;
  color: #333333;
}

.header-product-searcher__not-logined-user-info {
  margin-top: 24px;
}

.header-product-searcher__sory-text {
  font-size: 14px;
  line-height: 170%;
  letter-spacing: 0.03rem;
  color: #2c2c2c;
}
.header-product-searcher__catalog-link {
  font-size: 14px;
  line-height: 170%;
  letter-spacing: 0.03rem;
  color: #1c48a0;
  text-decoration: underline;
}

.header-product-searcher__you-can-search-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 170%;
  letter-spacing: 0.03rem;
  color: #2c2c2c;
}

.header-product-searcher__list {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: calc(100vh - 279px);
}

.header-product-searcher__card {
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ddd;
}

.header-product-searcher__img-container {
}

.header-product-searcher__card-text-container {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}
.header-product-searcher__card-title,
.header-product-searcher__item-name {
  font-weight: 700;
  font-size: 16px;
  line-height: 170%;
  letter-spacing: 0.03rem;
  color: #333333;
}

.header-product-searcher__prices {
  display: flex;
  align-items: center;
  margin-top: 11px;
}

.header-product-searcher__new-price {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 170%;
  letter-spacing: 0.03em;
  color: #333333;
}

.header-product-searcher__old-price {
  margin-left: 20px;
  font-size: 14px;
  line-height: 170%;
  letter-spacing: 0.03em;
  text-decoration-line: line-through;
  color: #b3b3b3;
}

.header-product-searcher__button {
  margin-top: 11px;
  font-family: "DIN Pro Cond";
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  text-transform: uppercase;
  color: #ffffff;
  width: 170px;
  height: 45px;
}

@media (max-width: 1399.98px) {
}
@media (max-width: 1199.98px) {
  .main-info__title {
  }

  .main-menu__catalog .product-section__card {
    width: auto;
  }
}
@media (max-width: 991.98px) {
  .main-menu__controls {
    max-width: 300px;
    min-width: 300px;
  }
}
@media (max-width: 767.98px) {
  .header-main__catalog-link,
  .header-main__request-link {
    display: none;
  }
  .header-main__logo {
    width: 83px;
    height: 38px;
    position: unset;
    transform: unset;
    margin-left: 22px;
  }
  .header__main-container {
    height: 86px;
  }
  .header__info-container {
    display: none;
  }

  .main-menu {
    flex-direction: column;
  }
  .main-menu__controls {
    min-width: unset;
    max-width: unset;
  }
  .main-menu__content-container {
    padding: 40px 20px;
    margin-left: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: none;
  }
  .main-menu__content-container.--active {
    z-index: 10;
    display: block;
  }

  .main-menu .product-section__card {
    width: calc(100% / 2 - 0.625rem);
  }
  .main-menu .product-section__card-link {
    width: unset;
  }
  .main-menu__content-header {
    display: flex;
    font-size: 30px;
    align-items: center;
    margin-bottom: 32px;
  }

  .main-menu__content-container .footer__footer {
    display: block;
    padding: 0;
    margin-top: 32px;
  }
  .main-menu__content-container .footer__phone-number {
    display: block;
    margin-top: 16px;
  }

  .header-callback-popup__container {
    margin: 100px auto;
    width: 100%;
  }

  .header-callback-popup__close-button {
    right: 0;
    top: -74px;
    left: unset;
  }

  .header-callback-popup__footer {
    display: flex;
    flex-direction: column;
  }

  .header-callback-popup__text {
    margin-left: 0;
    margin-top: 16px;
  }

  .main-menu__controls-header {
    padding: 40px 20px 0 20px;
  }

  .main-menu__item {
    font-size: 16px;
    padding: 16px 20px;
  }
  .main-menu .footer__footer {
    padding: 0 20px 40px 20px;
  }
  .main-menu {
    background-color: #f9f9f9;
  }

  .main-menu .footer__footer {
    padding: 0;
  }

  .header-product-searcher {
    height: calc(100vh - 86px);
    display: none;
  }
  .header-product-searcher__card-title,
  .header-product-searcher__item-name {
    font-size: 14px;
  }
  .header-product-searcher__input {
    padding: 19.5px 0;
  }
  .header-product-searcher__clear-button {
    right: 0;
  }

  .header-product-searcher__button {
    font-size: 14px !important;
    max-height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 130px;
  }
}
