@import url(./variables.css);
@import url(./fonts/index.css);

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Din pro cond";
  font-weight: 700;
  color: var(--text-black);
}

h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

h6 {
  font-size: var(--h6);
}
