@import url(./variables.css);
@import url(./reset.css);
@import url(./buttons.css);
@import url(./catalog-of-product-sections.css);
@import url(./heading.css);
@import url(./fonts/index.css);
@import url(./inputs.css);
@import url(./header.css);
@import url(./footer.css);
@import url(./404.css);
@import url(./breadcrumbs.css);

body {
  font-family: "Roboto";
}

.custom-scroll-bar::-webkit-scrollbar {
  width: 6px;
}

.custom-scroll-bar::-webkit-scrollbar-track {
  background-color: #ddd;
}

.custom-scroll-bar::-webkit-scrollbar-thumb {
  background-color: #1c48a0;
}

@media (max-width: 1399.98px) {
}
@media (max-width: 1199.98px) {
}
@media (max-width: 991.98px) {
}
@media (max-width: 767.98px) {
}
@media (max-width: 575.98px) {
}
