/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.custom-number-input {
  position: relative;
  height: 2.5rem;
  border: 1px solid #dddddd;
  width: 6.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.custom-number-input__plus-button,
.custom-number-input__minus-button {
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 1;
}

.custom-number-input__input {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0rem 1.875rem;
  text-align: center;
}

/* small ---------------------------------------*/
.custom-number-input.--small {
  position: relative;
  height: 3.875rem;
  border: 1px solid #dddddd;
  width: 5.375rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* align-items: center;
  justify-content: space-between; */
}

.custom-number-input.--small > .custom-number-input__plus-button,
.custom-number-input.--small > .custom-number-input__minus-button {
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 1;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  letter-spacing: 0.03rem;
  color: #333333;
  border-left: 1px solid #dddddd;
}

.custom-number-input.--small > .custom-number-input__plus-button {
  border-bottom: 1px solid #dddddd;
}

.custom-number-input.--small > .custom-number-input__input {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0rem 2.375rem 0 0.375rem;
  text-align: center;
}
/* small ---------------------------------------*/

/* large number input ------------------------------------------*/
.custom-number-input.--large {
  position: relative;
  height: 3.875rem;
  border: 1px solid #dddddd;
  width: 14.625rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.custom-number-input.--large .custom-number-input__plus-button,
.custom-number-input.--large .custom-number-input__minus-button {
  width: calc(100% / 3);
  height: 100%;
  cursor: pointer;
  z-index: 1;
}

.custom-number-input.--large .custom-number-input__plus-button {
  border-right: 1px solid #dddddd;
}
.custom-number-input.--large .custom-number-input__minus-button {
  border-left: 1px solid #dddddd;
}

.custom-number-input.--large .custom-number-input__input {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0rem 5.4375rem;
  text-align: center;
}
/* large number input ------------------------------------------------- */

/* switcher default ------------------------------------------------ */
.custom-switcher-input {
  height: 0;
  width: 0;
  visibility: hidden;
}

.custom-switcher-label {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5.5rem;
  height: 2.5rem;
  background: #eef3f4;
  position: relative;
}

.custom-switcher-label:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 2.125rem;
  height: 2.125rem;
  background-color: #1c48a0;
  transition: 0.3s;
  background-image: url(../icons/white-boxes.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.custom-switcher-label-left-text {
  visibility: hidden;
}

.custom-switcher-input:checked
  + .custom-switcher-label
  .custom-switcher-label-right-text {
  visibility: hidden;
}

.custom-switcher-input:checked
  + .custom-switcher-label
  .custom-switcher-label-left-text {
  visibility: visible;
}

.custom-switcher-input:checked + .custom-switcher-label:after {
  left: calc(100% - 3px);
  transform: translateX(-100%);
  background-image: url(../icons/white-box.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

/* switcher default ---------------------------------------- */

/* swithcer bottom text --------------------------------------- */

.custom-switcher.--text-bottom {
  position: relative;
}

.custom-switcher.--text-bottom .custom-switcher-input {
  position: absolute;
  height: 0;
  width: 0;
  visibility: hidden;
}

.custom-switcher.--text-bottom .custom-switcher-label {
  cursor: pointer;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 4.75rem;
  height: 3.8125rem;
  background: #eef3f4;
  position: relative;
}

.custom-switcher.--text-bottom .custom-switcher-label:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 2.125rem;
  height: 2.125rem;
  background-color: #1c48a0;
  transition: 0.3s;
  background-image: url(../icons/white-boxes.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.custom-switcher.--text-bottom .custom-switcher-label:before {
  content: "";
  position: absolute;
  transform: translateX(100%);
  top: 3px;
  left: 5px;
  width: 2.125rem;
  height: 2.125rem;
  background-color: #f5f5f7;
  transition: 0.3s;
  background-image: url(../icons/gray-box.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.custom-switcher-input:checked + .custom-switcher-label::before {
  left: calc(100% - 5px);
  transform: translateX(-200%);
  background-image: url(../icons/gray-boxes.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.custom-switcher-input:checked + .custom-switcher-label:after {
  left: calc(100% - 3px);
  transform: translateX(-100%);
  background-image: url(../icons/white-box.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.custom-switcher.--text-bottom .custom-switcher-label-left-text,
.custom-switcher.--text-bottom .custom-switcher-label-right-text {
  height: 24px;
  display: flex;
  align-items: center;
}

.custom-switcher.--text-bottom .custom-switcher-label-left-text {
  display: none;
}

.custom-switcher.--text-bottom
  .custom-switcher-input:checked
  + .custom-switcher-label
  .custom-switcher-label-right-text {
  display: none;
}

.custom-switcher.--text-bottom
  .custom-switcher-input:checked
  + .custom-switcher-label
  .custom-switcher-label-left-text {
  display: flex;
}

/* swithcer bottom text --------------------------------------- */

/* form input ------------------*/
.custom-form-input {
  height: 4.125rem;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  line-height: 160%;
  letter-spacing: 0.03rem;
  color: #2c2c2c;
  border-bottom: var(--base-border);
  position: relative;
}

.custom-form-input.--white-mode .custom-form-input__label,
.custom-form-input.--white-mode .custom-form-input__input {
  color: var(--white);
}

.custom-form-input__label {
  position: relative;
  letter-spacing: 0.03rem;
}

.custom-form-input__input {
  height: 100%;
  letter-spacing: 0.03rem;
}

.custom-form-input__button {
  position: absolute;
  right: 0;
  top: 0.125rem;
  height: 1.25rem;
  width: 1.25rem;
}

.custom-form-input.--required-form-input .custom-form-input__label::after {
  content: url(../icons/white-asterisk.svg);
  height: 15px;
  width: 15px;
  position: absolute;
}

.custom-form-input.--required-form-input.--required-form-input-black
  .custom-form-input__label::after {
  content: url(../icons/black-asterisk.svg);
  height: 15px;
  width: 15px;
  position: absolute;
}

.custom-form-input.--error-form-input {
  border-bottom-color: var(--red);
}
.custom-form-input.--error-form-input .custom-form-input__button {
  background-image: url(../icons/red-cross.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.custom-form-input.--success-form-input {
  border-bottom-color: var(--green);
}
.custom-form-input.--success-form-input .custom-form-input__button {
  background-image: url(../icons/green-check.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.custom-form-input.--non-status-black-eye .custom-form-input__button {
  background-image: url(../icons/black-eye.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.custom-form-input.--non-status-black-eyelashes .custom-form-input__button {
  background-image: url(../icons/black-eyelashes.svg);
  background-repeat: no-repeat;
  background-position: center center;
}
.custom-form-input .custom-form-input__description {
  font-size: 12px;
  line-height: 170%;
  letter-spacing: 0.03rem;
  color: #b3b3b3;
  position: absolute;
  bottom: -24px;
  height: 20px;
}

/* checkbox -------------------*/
.custom-checkbox {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.custom-checkbox__label {
  display: block;
  position: relative;
}

.custom-checkbox__label .custom-checkbox__input:checked {
  outline: 5px solid green;
}

.custom-checkbox__checkmark {
  background-color: #fff;
  display: block;
  border: 1.5px solid #dddddd;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.custom-checkbox:hover .custom-checkbox__checkmark {
  border-color: #1c48a0;
}

.custom-checkbox__input {
  height: 0;
  width: 0;
  visibility: hidden;
}

.custom-checkbox__input:checked ~ .custom-checkbox__checkmark {
  background-image: url(../icons/blue-check-checkbox.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

/* file input ---------------------------*/

.custom-file-input {
  height: 4.0625rem;
  display: flex;
  flex-direction: row-reverse;
  align-items: start;
  justify-content: space-between;
}
.custom-file-input__file-input-container {
  width: 13.625rem;
  height: 3.5625rem;
  display: flex;
  position: relative;
  overflow: hidden;
  background: #1c48a0;
  color: #fff;
}
.custom-file-input__file-input-label:hover {
  background: #2655b4;
}
.custom-file-input__file-input-label:active {
  background: #1c48a0;
}

.custom-file-input__file-input-label {
  /* padding: 17px 47px; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: inherit;
  cursor: pointer;
  font-family: "DIN Pro Cond";
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 130%;
  text-transform: uppercase;
}

.custom-file-input__file-input {
  display: none;
}

.custom-file-input__text-field {
  font-size: 1rem;
  line-height: 160%;
  color: #ffffff;
  letter-spacing: 0.03em;
  background: transparent;
  border: 1px solid transparent;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 5rem;
  white-space: nowrap;
}
