.label {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 0.875rem;
  padding: 0.5rem 1rem;
  color: var(--text-gray);
  width: min-content;
  white-space: nowrap;
  /* line-height: 140%; */
  letter-spacing: 0.03rem;
}

.label.--s {
}

.label.--m {
}

.label.--ml {
}

.label.--l {
  padding: 0.25rem 0.75rem;
  font-size: var(--text-xxs);
}

.label.--framed {
  background-color: #c0c9e9;
}

.label.--awaiting-payment {
  background-color: #dec0e9;
}

.label.--in-process {
  background-color: #c0dae9;
}

.label.--delivery-is-scheduled {
  background-color: #e2ebff;
}

.label.--shipped {
  background-color: #1c48a0;
  color: var(--text-white);
}

.label.--draft {
  background-color: #e9c0c0;
}

.label.--done {
  background-color: #c0e9c9;
}

.label.--new {
  background-color: #c0dae9;
}

.label.--active {
  background-color: #dec0e9;
}

.label.--response-received {
  background-color: #c0e9c9;
}

.label.--closed {
  background-color: #c0c9e9;
}

.card-label {
  font-family: "DIN Pro Cond";
  font-weight: 700;
  line-height: 140%;
  text-transform: uppercase;
  padding: 4.75px 9px 3.25px 9px;
  border: 1px solid;
  width: min-content;
  white-space: nowrap;
}

.card-label.--blue {
  color: #1c48a0;
  background-color: #e2ebff;
  border-color: transparent;
}

.card-label.--black-text {
  color: #333333;
  border-color: #dddddd;
}

.card-label.--gray {
  color: #b3b3b3;
  border-color: #dddddd;
}

.card-label.--l {
  font-size: 12px;
  letter-spacing: 0.1px;
  text-transform: uppercase;
  padding: 5.25px 9px 3.75px 9px;
}
