@import url(./variables.css);

body {
  background-color: #f9f9f9;
  overflow-x: hidden;
  position: relative;
}

.main {
  margin-top: 183px;
}

.swiper-pagination-bullet {
  width: 5px;
  height: 5px;
}

.main-info {
  position: relative;
  display: flex;
  max-width: 1560px;
  margin: 0 auto;
  background-color: var(--white);
  overflow: hidden;
}

.main-info::after {
  position: absolute;
  content: url(../images/doctor.png);
  left: 75%;
  transform: translateX(-50%);
  bottom: -59px;
  pointer-events: none;
}

.main-info__main {
  display: flex;
  flex-direction: column;
  margin-left: 6.3125rem;
  margin-top: 12.375rem;
  width: 75%;
}

.main-info__title {
  text-transform: uppercase;
}

.main-info__text {
  margin-top: 1.75rem;
  max-width: 36.125rem;
  font-size: var(--text-m);
  line-height: 1.7rem;
  letter-spacing: 0.03em;
}

.main-info__controls {
  margin-top: 2rem;
  display: flex;
  font-family: "DIN Pro Cond";
}

.main-info__controls .custom-button {
  text-transform: uppercase;
}

.main-info .custom-button:nth-child(1) {
  margin-right: 1.75rem;
}

.main-info__down-button {
  margin-top: 12.5rem;
  height: 3.75rem;
  width: 3.75rem;
  background-color: #e6e9ed;
  background-image: url(../icons/black-chevron-down.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid transparent;
}

.main-info__down-button:hover {
  transition: background-color 0.2s ease;
  border-color: #dddddd;
  background-color: #fff;
}

.main-info__links {
  background-color: var(--form-bg);
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.main-info__link-item:first-child {
  margin-top: 2.5625rem;
}

.main-info__link-item {
  margin-right: -132px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0.75rem;
  width: 12.5rem;
  height: 4.25rem;
  padding: 1.5rem 1.5rem 1.5rem 5.75rem;
  background-color: var(--white);
  font-family: "DIN Pro cond";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #333333;
}

.main-info__link-item:hover {
  transition: margin-right 0.3s ease;
  margin-right: 0;
}

.main-info__link-item::after {
  content: "";
  height: inherit;
  width: 1px;
  background-color: var(--gray);
  display: block;
  margin-left: -1.5625rem;
  margin-top: -3rem;
}

.main-info__link-item.--icon-wash-hands {
  background-image: url(../icons/washing-hand-big.svg);
  background-position: 25px center;
  background-repeat: no-repeat;
}

.main-info__link-item.--icon-tools {
  background-image: url(../icons/clean-tools.svg);
  background-position: 25px center;
  background-repeat: no-repeat;
}

.main-info__link-item.--icon-rub-the-surface {
  background-image: url(../icons/cleaning.svg);
  background-position: 25px center;
  background-repeat: no-repeat;
}

.main-info__link-item.--icon-tooth {
  background-image: url(../icons/tooth-washing.svg);
  background-position: 25px center;
  background-repeat: no-repeat;
}

.main-info__link-item.--icon-computer-desk {
  background-image: url(../icons/work-place.svg);
  background-position: 25px center;
  background-repeat: no-repeat;
}

/* advantages */
.advantages {
  max-width: 1340px;
  padding: 0 1.25rem;
  margin: 8rem auto 0 auto;
  position: relative;
}

.advantages__title {
  text-transform: uppercase;
}
.advantages__main-container {
  margin-top: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

.advantages__img-container {
}

.advantages__card {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 4.875rem;
  bottom: 0;
  padding: 2rem;
  max-width: 20.4375rem;
  background-color: var(--white);
}

.advantages__card-img-container {
}

.advantages__card-title {
  margin-top: 1.5rem;
  line-height: 1.3rem;
  font-family: "DIN Pro Cond";
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  text-transform: uppercase;
  color: var(--text-black);
}

.advantages__card-text {
  margin-top: 0.75rem;
  line-height: 1.6rem;
  font-weight: 400;
  font-size: 1rem;
  color: var(--text-black);
  letter-spacing: 0.03rem;
}

.advantages__tabs {
  margin-top: 1.25rem;
  display: flex;
  overflow-x: auto;
}

.advantages__tabs > .custom-button:not(:last-child) {
  margin-right: 1rem;
}

/* popular product slider -------------------------------- */
.popular-product-slider {
  display: flex;
}

.popular-product-slider__cards-container {
  width: 100%;
}

.popular-product-slider__swiper {
  max-width: 100%;
}

.popular-product-slider {
  max-width: 1340px;
  padding: 0 1.25rem;
  margin: 128px auto 0 auto;
}

/* slider header -------------------------------- */
.popular-product-slider .slider__controls {
  min-width: calc(100% / 3 + 8px);
}

.popular-product-slider .slider__controls-title {
  margin-top: 5.5rem;
  text-transform: uppercase;
  position: relative;
}

.popular-product-slider .slider__controls-title:after {
  content: "";
  height: 4.375rem;
  width: 4.375rem;
  display: block;
  left: -44px;
  top: -20px;
  position: absolute;
  background-image: url(../images/gray-logo-peace.png);
}

.popular-product-slider .custom-button-group {
  margin-top: 3rem;
}

.popular-product-card {
  width: 419px;
}
.swiper-slide.popular-product-card {
  width: 419px;
}

/* popular product container ---------------------------------- */
.popular-product-container {
  display: flex;
  max-width: 1340px;
  padding: 0 1.25rem;
  margin: 1.25rem auto 0 auto;
  gap: 22px;
}
.popular-product-slider__all-product-button {
  display: none;
  text-transform: uppercase;
}

/* ABOUT COMPANY ---------------------------------------------- */

.about-company {
  max-width: 1340px;
  padding: 0 1.25rem;
  margin: 0 auto;
  display: flex;
  margin-top: 8rem;
}

.about-company__img-container {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: space-between;
  margin-left: -50px;
}

.about-company__img-building-small-container {
  width: 140px;
  height: 680px;
  position: relative;
}

.about-company__img-building-container {
  position: relative;
  width: 464px;
  height: 800px;
}

.about-company__img-building-small,
.about-company__img-building {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.about-company__description-container {
  width: 50%;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-company__description-container .custom-button {
  text-transform: uppercase;
  font-family: "Din Pro Cond";
}

.about-company__title {
  text-transform: uppercase;
  line-height: 120%;
}

.about-company__text {
  margin-top: 1rem;
  color: var(--text-gray);
  letter-spacing: 0.03rem;
  line-height: 170%;
  font-size: 1.125rem;
}

.about-company__text:first-child {
  margin-top: 1.5rem;
}

.about-company__button {
  width: min-content;
  margin-top: 2rem;
}

/* brands slider ----------------------------------*/

.brand-slider {
  display: flex;
  max-width: 1340px;
  padding: 0 1.25rem;
  margin: 8rem auto 0 auto;
}

.brand-slider__controls {
  min-width: 20.375rem;
  margin-top: 1.4375rem;
}

.brand-slider__controls-title {
  text-transform: uppercase;
  position: relative;
}

.brand-slider__controls-title:after {
  content: "";
  height: 4.375rem;
  width: 4.375rem;
  display: block;
  left: -44px;
  top: -20px;
  position: absolute;
  background-image: url(../images/gray-logo-peace.png);
}

.brand-slider__link,
.articles-slider__link {
  margin-top: 1rem;
  display: inline-block;
  font-family: "DIN Pro Cond";
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 130%;
  text-transform: uppercase;
  color: #1c48a0;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #1c48a0;
}

.brand-slider .custom-button-group {
  margin-top: 32px;
}

.brand-slider__cards-container {
  width: 100%;
  margin-top: 0.5rem;
}

.brand-slider__card {
  border: 1px solid #ebebeb;
  min-height: 9.375rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.brand-slider__brand-img {
  margin-bottom: 25px;
}

.brand-slider__brand-text {
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: #2c2c2c;
}

.feedback-form {
  display: flex;
  max-width: 1340px;
  padding: 0 1.25rem;
  margin: 9.625rem auto 0 auto;
}

.feedback-form__text-container {
  margin-right: 1.625rem;
  display: flex;
  justify-content: center;

  flex-direction: column;
}

.feedback-form__text-title {
  font-family: "DIN Pro Cond";
  line-height: 120%;
  text-transform: uppercase;
  color: #333333;
}

.feedback-form__text-text {
  margin-top: 1.5rem;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 170%;
  letter-spacing: 0.03rem;
  color: #2c2c2c;
}

.feedback-form__form-container {
  position: relative;
  min-width: 60%;
  background-color: #3761b5;
  z-index: 1;
}

.feedback-form__form-container::before {
  content: url(../images/white-logo-peace-form-left-top.png);
  position: absolute;
}

.feedback-form__form-container::after {
  content: url(../images/white-logo-peace-form-right-bottom.png);
  position: absolute;
  right: 0;
  bottom: 0;
}

.feedback-form__form {
  padding: 5.1875rem 5rem;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(5, 4.125rem);
  gap: 1.375rem 1.25rem;
  grid-auto-flow: row;
  grid-template-areas:
    "name city"
    "phone city2"
    "organization-name file"
    "comment comment"
    "consent-to-data-processing consent-to-data-processing";
}

.feedback-form__form-name {
  grid-area: name;
}

.feedback-form__form-city {
  grid-area: city;
}

.feedback-form__form-phone {
  grid-area: phone;
}

.feedback-form__form-city2 {
  grid-area: city2;
}

.feedback-form__form-organization-name {
  grid-area: organization-name;
}

.feedback-form__form-file {
  grid-area: file;
}

.feedback-form__form-comment {
  grid-area: comment;
}

.feedback-form__form-consent-to-data-processing {
  grid-area: consent-to-data-processing;
  display: flex;
  align-items: center;
  color: #c1dff9;
}

.feedback-form__form-consent-label {
  display: inline-block;
  font-size: 0.875rem;
  line-height: 170%;
  letter-spacing: 0.03rem;
  margin-left: 0.75rem;
  width: 78%;
}

.feedback-form__form-consent-to-data-processing .custom-button {
  font-family: "DIN Pro Cond";
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 120%;
  text-transform: uppercase;
  color: #ffffff;
}
.feedback-form__action {
  display: flex;
  margin-left: 1.5rem;
}

/* best deals---------------- */
.best-deals {
  max-width: 1340px;
  padding: 0 1.25rem;
  margin: 128px auto 0 auto;
  display: flex;
  gap: 1.25rem;
  flex-wrap: wrap;
}

.best-deals-slider-container {
  display: none;
}

.best-deals__card {
  padding: 1.5rem 2rem;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% / 2 - 0.625rem);
}

.best-deals__card-description-container {
  max-width: 17.8125rem;
}

.best-deals__card-second-title {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 110%;
  text-transform: uppercase;
  color: #b3b3b3;
}

.best-deals__card-title {
  font-family: "DIN Pro Cond";
  margin-top: 0.75rem;
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 130%;
  text-transform: uppercase;
  color: #1c48a0;
}

.best-deals__card-text {
  font-size: 1rem;
  margin-top: 1rem;
  line-height: 160%;
  letter-spacing: 0.03rem;
  color: #2c2c2c;
}

.best-deals__card-img-container {
  min-width: 40%;
}

/* articles slider -------------------*/

.articles-slider {
  display: flex;
  max-width: 1340px;
  padding: 0 1.25rem;
  margin: 8rem auto 8rem auto;
}
.articles-slider__controls {
  max-width: calc(100% / 4);
  position: relative;
}

.brand-slider__controls-title {
  margin-top: 1.5625rem;
}
.articles-slider__news-link {
  display: flex;
  align-items: center;
  margin-top: 0.375rem;
  font-family: "DIN Pro Cond";
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 130%;
  text-transform: uppercase;
  color: #b3b3b3;
}

.articles-slider__news-link:after {
  content: "";
  width: 0.875rem;
  height: 0.875rem;
  margin-left: 0.5rem;
  display: block;
  background-image: url(../icons/gray-chevron-right.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.custom-button-group {
  margin-top: 8rem;
}

.articles-slider__content-container {
  width: 100%;
  margin-left: 8rem;
}
.articles-slider__swiper {
  width: 100%;
}

.articles-slider__swiper-card {
  padding-right: 1rem;
}

.articles-slider__swiper-card:not(:last-child) {
  border-right: 1px solid #dddddd;
}

.articles-slider__header-labels,
.articles-slider__footer-labels {
  margin-top: 1.25rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.articles-slider__footer-labels {
  margin-bottom: 62px;
}

.articles-slider__card-label {
  display: flex;
  align-items: center;
  height: 1.625rem;
  padding: 0.375rem 0.5625rem;
  border-radius: 2px;
  font-family: "DIN Pro Cond";
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 140%;
  text-transform: uppercase;
  border: 1px solid transparent;
}

.articles-slider__card-label.--blue {
  background-color: #e2ebff;
  color: #1c48a0;
}

.articles-slider__card-label.--gray {
  border-color: #dddddd;
  color: #b3b3b3;
}

.articles-slider__card-label.--white {
  color: #333333;
  background-color: #ffffff;
}

.articles-slider__card-title {
  margin-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #dddddd;
  font-family: "DIN Pro Cond";
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  color: #333333;
}

@media (max-width: 1399.98px) {
  .slider__controls-title:after,
  .brand-slider__controls-title:after {
    left: -16px !important;
  }
}
@media (max-width: 1199.98px) {
  .main-info__title {
    width: 87%;
  }

  .advantages__card {
    right: 1.25rem;
    max-width: 14.44rem;
  }
  .about-company {
    flex-direction: column;
    margin-top: 60px;
  }
  .about-company__img-container {
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin-left: unset;
  }
  .about-company__description-container {
    width: 100%;
    margin-top: 6.5rem;
  }
  .feedback-form {
    flex-direction: column;
  }
  .feedback-form__form-container {
    margin-top: 20px;
  }
}

@media (max-width: 991.98px) {
  .main-info {
    flex-direction: column;
  }
  .main-info__main {
    margin-top: 50px;
    margin-left: unset;
    width: 100%;
    align-items: center;
  }
  .main-info__title,
  .main-info__text {
    text-align: center;
  }

  .main-info__down-button {
    position: absolute;
    bottom: 0;
    left: 20px;
  }

  .main-info__links {
    margin-top: 3.9375rem;
    width: 42%;
    height: 565.5px;
  }
  .main-info::after {
    left: 54%;
  }
  .main-info__links {
    margin-left: auto;
  }
  .main-info__link-item {
    z-index: 1;
  }

  .advantages__card {
    bottom: 4.5625rem;
  }
  .popular-product-container {
    flex-wrap: wrap;
  }
  .popular-product-card {
    width: calc(100% / 2 - 12px);
  }

  .popular-product-slider .slider__controls {
    min-width: calc(100% / 2 + 8px);
  }

  .best-deals__card {
    flex-direction: column;
  }
}
@media (max-width: 767.98px) {
  .main {
    margin-top: 87px;
  }
  .main-info__link-item {
    display: none;
  }
  .main-info::after {
    transform: scale(0.7) translateX(-50%);
    left: 40%;

    bottom: -149px;
  }
  .main-info__links {
    height: 400px;
    width: 44%;
  }
  .advantages__card {
    max-width: unset;
    flex-direction: row;
    position: unset;
  }
  .advantages__card-title {
    margin-top: unset;
  }
  .advantages__img-container {
    display: none;
  }
  .advantages__card__text-container {
    margin-left: 20px;
  }
  .advantages__tabs::-webkit-scrollbar {
    display: none;
  }
  .advantages__tabs {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .popular-product-container {
    display: none;
  }
  .popular-product-slider {
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }

  .popular-product-slider .custom-button-group {
    margin-top: 0.75rem;
  }
  .popular-product-slider__cards-container {
    margin-top: 1.25rem;
  }

  .about-company__img-building-small-container {
    width: 6.25rem;
    height: 30.375rem;
  }
  .about-company__img-building-container {
    width: 23.5rem;
    height: 40.3125rem;
  }
  .about-company__description-container {
    margin-top: 1rem;
  }
  .brand-slider__controls {
    min-width: 14.375rem;
  }
  .feedback-form__form-city2 {
    display: none;
  }
  .feedback-form__form {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
      "name"
      "phone"
      "city"
      "organization-name"
      "file"
      "comment"
      "consent-to-data-processing";
  }
  .best-deals {
    flex-wrap: wrap;
  }
  .best-deals__card {
    width: 100%;
  }
  .best-deals__card-second-title,
  .best-deals__card-title,
  .best-deals__card-text {
    text-align: center;
  }

  .best-deals {
    display: none;
  }

  .best-deals-slider-container {
    display: block;
    margin-top: 56px;
    padding: 0 20px;
  }
  .best-deals__card {
    height: 38.3125rem;
    padding: 1.5rem 0.75rem;
  }
  .best-deals__card-second-title {
    font-size: 12px;
  }
  .best-deals__card-title {
    font-size: 30px;
  }

  .articles-slider {
    flex-direction: column;
  }

  .articles-slider__controls {
    max-width: unset;
  }
  .articles-slider__content-container {
    margin-left: unset;
  }
  .articles-slider__controls .custom-button-group {
    display: none;
  }
  .articles-slider__content-container {
    margin-top: 24px;
  }
  .articles-slider__link {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .articles-slider__card-label {
    font-size: 1rem;
    padding: 0.25rem 0.5625rem;
  }
}

@media (max-width: 575.98px) {
  .popular-product-slider .custom-button-group {
    display: none;
  }
  .popular-product-slider__swiper {
    padding: 0;
  }

  .swiper-slide.popular-product-card,
  .popular-product-card {
    width: unset !important;
  }

  .popular-product-slider__all-product-button {
    margin-top: 12px;
    display: block;
    font-family: "DIN Pro Cond";
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    text-transform: uppercase;
    color: #ffffff;
  }

  .main-info {
    padding-top: 2rem;
  }
  .main-info__main {
    margin-top: 0;
  }

  .main-info__title {
    font-size: 1.875rem;
  }
  .main-info__controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.25rem;
  }
  .main-info .custom-button:nth-child(1) {
    margin-bottom: 0.75rem;
    margin-right: 0;
  }
  .main-info .custom-button {
    width: 100%;
  }
  .main-info::after {
    content: "";
    background-image: url(../images/doctor.png);
    width: 100%;
    height: 390px;
    background-size: 294px;
    background-position: center center;
    background-repeat: no-repeat;
    bottom: -45px;
    left: unset;
    top: unset;
    transform: unset;
  }

  .main-info__down-button {
    display: none;
  }
  .main-info__links {
    height: 18.1875rem;
    width: 44%;
    margin-top: 2.5rem;
  }

  .popular-category {
    margin-top: 3.5rem;
  }

  .advantages {
    margin-top: 3.5rem;
  }
  .advantages__card {
    max-width: unset;
    flex-direction: column;
    position: unset;
    padding: 1.5rem;
    margin-top: 1.5rem;
  }
  .advantages__tabs {
    margin-top: 1.5rem;
    margin-bottom: 0;
  }
  .advantages__card__text-container {
    margin-left: 0;
  }
  .advantages__main-container {
    flex-direction: column-reverse;
    margin-top: 0;
  }
  .advantages__card-title {
    margin-top: 1.125rem;
  }

  .popular-product-card {
    max-width: 16.9375rem;
    min-height: unset;
  }

  .popular-product-card__header {
    height: 14.5rem;
  }

  .popular-product-slider {
    margin-top: 4.6875rem;
  }

  .popular-product-slider .slider__controls-title {
    margin-top: 0;
  }

  .about-company__img-building-small-container {
    width: 3.5rem;
    height: 16.8125rem;
  }

  .about-company__img-building-container {
    width: 14.6875rem;
    height: 22.75rem;
  }

  .brand-slider {
    flex-direction: column;
  }

  .brand-slider .custom-button-group {
    display: none;
  }

  .brand-slider__cards-container {
    margin-top: 24px;
  }

  .brand-slider {
    margin-top: 79px;
  }

  .brand-slider__controls-title:after {
    left: 0 !important;
  }

  .brand-slider__controls {
    margin-top: 0;
  }
  .feedback-form {
    margin-top: 56px;
  }
  .feedback-form__form {
    padding: 2.5rem 1.25rem;
  }
  .feedback-form__form-container {
    margin-right: -1.25rem;
    margin-left: -1.25rem;
  }
  .feedback-form__text-text {
    display: none;
  }

  .feedback-form__form-file .custom-file-input {
    flex-direction: column-reverse;
    font-size: 16px;
  }

  .feedback-form__form-file .custom-file-input__file-input-label {
    font-size: 1rem;
  }
  .feedback-form__form-file .custom-file-input__file-input-container {
    height: 37px;
    width: 100%;
  }
  .feedback-form__form-file .custom-file-input__text-field {
    width: 100%;
  }
  .feedback-form__form-consent-to-data-processing {
    flex-direction: column-reverse;
  }
  .feedback-form__action {
    margin-left: 0;
  }
  .feedback-form__form-consent-to-data-processing .custom-button {
    width: 100%;
    margin-top: 32px;
  }

  .best-deals__card {
    height: 498px;
  }
  .best-deals__card-img-container {
    height: 253px;
  }

  .swiper {
    padding-bottom: 30px;
  }
  .articles-slider {
    margin-top: 100px;
    margin-bottom: 56px;
  }
  .about-company {
    margin-top: 56px;
  }
}
