@import url(./fonts/open-sans/stylesheet.css);
.ui-pagination {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 32px;
  margin-bottom: 56px;
}
.ui-pagination-numbers {
  display: flex;
  gap: 18px;
}
.ui-pagination-numbers .custom-button {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #1c48a0;
}

.ui-pagination-number.--blue {
  color: #ffffff;
}

.ui-pagination-left-button {
  background-image: url(../icons/blue-chevron-left.svg);
  margin-right: 40px;
}
.ui-pagination-right-button {
  background-image: url(../icons/blue-chevron-right.svg);
  margin-left: 40px;
}

.ui-pagination-left-button:hover {
  background-image: url(../icons/white-chevron-left.svg);
}
.ui-pagination-right-button:hover {
  background-image: url(../icons/white-chevron-right.svg);
}

.ui-pagination-left-button,
.ui-pagination-right-button {
  background-position: center;
  background-repeat: no-repeat;
}
@media (max-width: 1399.98px) {
}
@media (max-width: 1199.98px) {
}
@media (max-width: 991.98px) {
}
@media (max-width: 767.98px) {
}
@media (max-width: 575.98px) {
}
