@import url(./variables.css);
@import url(./reset.css);
@import url(./buttons.css);
@import url(./catalog-of-product-sections.css);
@import url(./heading.css);
@import url(./fonts/index.css);
@import url(./inputs.css);
@import url(./header.css);
@import url(./footer.css);
@import url(./404.css);
@import url(./breadcrumbs.css);

body {
  font-family: "Roboto";
}

.custom-scroll-bar::-webkit-scrollbar {
  width: 6px;
}

.custom-scroll-bar::-webkit-scrollbar-track {
  background-color: #ddd;
}

.custom-scroll-bar::-webkit-scrollbar-thumb {
  background-color: #1c48a0;
}

.password-recovery {
}
.password-recovery__container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 20px;
  background-image: url(../images/password-recovery-normalized.png);
  background-repeat: no-repeat;
  background-position: 85% 72%;
}

.password-recovery__title {
  margin-top: 32px;
}
.password-recovery__text {
  margin-top: 8px;
  line-height: 160%;
  letter-spacing: 0.03rem;
  color: #333333;
}
.password-recovery__form {
  width: 440px;
  margin-top: 56px;
}
.password-recovery__submit-button {
  margin-top: 24px;
}
.password-recovery__link {
  display: inline-block;
  margin-top: 24px;
  margin-bottom: 56px;
  font-family: "DIN Pro Cond";
  font-weight: 700;
  font-size: 16px;
  line-height: 170%;
  text-transform: uppercase;
  color: #1c48a0;
  border-bottom: 1px solid #1c48a0;
}

.password-recovery__code-container {
  margin-top: 56px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.password-recovery__code-input {
  text-align: center;
  height: 65px;
  width: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
}

.password-recovery__code-input:hover {
  border-color: #1c48a0;
  transition: border-color 0.2s ease;
}

.password-recovery__resend-code-container {
  margin-top: 24px;
  display: flex;
}

.password-recovery__resend-code-button {
  font-family: "DIN Pro Cond";
  font-weight: 700;
  line-height: 170%;
  text-transform: uppercase;
  color: #b3b3b3;
  border-bottom: 1px solid #b3b3b3;
  padding-bottom: 4px;
  cursor: pointer;
}

.password-recovery__resend-code-timer-text {
  margin-left: 15px;
  font-weight: 700;
  line-height: 170%;
  letter-spacing: 0.03rem;
  color: #2c2c2c;
}
.authorization__resend-button {
  margin-top: 24px;
}
.password-recovery__second-passsword-input {
  margin-top: 46px;
}

.password-recovery__resend-code-button.--disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

@media (max-width: 1399.98px) {
  .password-recovery__container {
    background-position: 100% 103%;
  }
}
@media (max-width: 1199.98px) {
}
@media (max-width: 991.98px) {
}
@media (max-width: 767.98px) {
  .password-recovery__container {
    background-position: 100% 57%;
    background-size: 250px;
  }
}
@media (max-width: 575.98px) {
  .password-recovery__container {
    background-position: 5% 3%;
    background-size: 215px;
  }

  .password-recovery__title {
    margin-top: 158px;
  }

  .password-recovery__form {
    margin-top: 24px;
    width: 100%;
  }
  .password-recovery__second-passsword-input {
    margin-top: 42px;
  }
}
