.personal-area {
  margin-top: 32px;
  max-width: 1340px;
  margin-inline: auto;
  padding-inline: 20px;
}

.personal-area__title {
}

.personal-area__content-container {
  display: flex;
  gap: 20px;
  margin-top: 56px;
  overflow: hidden;
}

.presonal-area__menu {
  flex-basis: 310px;
  flex-shrink: 1;
}

.personal-area__content {
  flex: 1;
  overflow: hidden;
}

.notification {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.notification__card {
  display: flex;
  justify-content: space-between;
  padding: 24px;
  background-color: #ffffff;
  gap: 24px;
}

.notification__card-text-container {
  /* display: flex; */
}

.notification__card-title {
  font-family: "DIN Pro Cond";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  text-transform: uppercase;
  color: #333333;
}

.notification__card-contacts {
  margin-top: 8px;
  display: flex;
  gap: 20px;
}

.notification__card-contacts-email,
.notification__card-contacts-phone {
  line-height: 160%;
  letter-spacing: 0.03rem;
  color: #2c2c2c;
  display: flex;
  align-items: center;
}

.notification__card-contacts-phone::before,
.notification__card-contacts-email::before {
  margin-right: 4px;
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.notification__card-contacts-phone::before {
  background-image: url(../icons/blue-phone.svg);
}

.notification__card-contacts-email::before {
  background-image: url(../icons/blue-email.svg);
}

.notification__card-link {
  font-family: "DIN Pro Cond";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 170%;
  text-transform: uppercase;
  color: #1c48a0;
  border-bottom: 1px solid #1c48a0;
  height: fit-content;
  width: fit-content;
}

.notification__content {
  padding: 24px;
  background-color: #ffffff;
}

.notification__header {
}

.notification__actions {
  display: flex;
  justify-content: space-between;
}

.notification__actions-title {
  font-family: "DIN Pro Cond";
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  text-transform: uppercase;
  color: #333333;
}

.notification__actions-link {
  font-family: "DIN Pro Cond";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 170%;
  text-transform: uppercase;
  color: #1c48a0;
  border-bottom: 1px solid #1c48a0;
  height: fit-content;
  width: fit-content;
}

.notification__counts {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}

.notification__count {
  display: flex;
  margin-bottom: 12px;
}

.notification__count-text {
  line-height: 160%;
  letter-spacing: 0.03rem;
  color: #2c2c2c;
}

.notification__count-link {
  margin-left: 8px;
  line-height: 160%;
  letter-spacing: 0.03rem;
  color: #1c48a0;
}

.notification__list {
  display: flex;
  flex-direction: column;
}

.notification__list-item {
  padding-block: 16px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #dddddd;
}

.notification__list-item-text {
  line-height: 160%;
  letter-spacing: 0.03rem;
  color: #333333;
}

.notification__list-item-status {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notification__list-item-label {
  padding: 8px 16px;
  background-color: #1c48a0;
  font-size: 12px;
  line-height: 170%;
  letter-spacing: 0.03rem;
  color: #ffffff;
  width: fit-content;
  margin-right: 24px;
}

.notification__list-item-date {
  font-size: 14px;
  line-height: 170%;
  letter-spacing: 0.03rem;
  color: #333333;
  width: 175px;
  text-align: end;
}

/* counterparty information ---------------------- */
.counterparty-information {
  margin-bottom: 73px;
}

.counterparty-information__header {
}

.counterparty-information__dropdown-list {
  height: 180px !important;
}

.counterparty-information__header-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.03em;
  color: #2c2c2c;
}

.counterparty-information__header-count {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.03em;
  color: #1c48a0;
}

.counterparty-information__cards-list {
  margin-top: 20px;
}

.counterparty-information__card {
  padding: 24px;
  background-color: #ffffff;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.counterparty-information__title {
  font-family: "DIN Pro Cond";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  text-transform: uppercase;
  color: #333333;
  max-width: 286px;
}

.counterparty-information__info-row:not(:last-child) {
  padding-bottom: 12px;
}

.counterparty-information__info-row:not(:first-child) {
  border-top: 1px solid #dddddd;
  padding-top: 12px;
}

.counterparty-information__info-row {
  line-height: 160%;
  letter-spacing: 0.03rem;
  color: #333333;
}

.counterparty-information__address {
  line-height: 160%;
  letter-spacing: 0.03rem;
  color: #333333;
  max-width: 200px;
}

.counterparty-information__dropdown {
  flex: 1;
}

.counterparty-information__dropdown .ui-dropdown {
  height: 100%;
}

.counterparty-information__dropdown .ui-dropdown-header {
  border: 1px solid #dddddd;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 170%;
  letter-spacing: 0.03rem;
  color: #333333;
  background-color: #eef3f4;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.counterparty-information__dropdown .ui-dropdown-header::after {
  content: "";
  height: 14px;
  width: 14px;
  display: block;
  background-image: url(../icons/blue-chevron-left.svg);
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(90deg);
}
.counterparty-information__dropdown
  .ui-dropdown.--open
  .ui-dropdown-header::after {
  transform: rotate(270deg);
}

.counterparty-information__dropdown .ui-dropdown-list {
  display: flex;
  flex-direction: column;
}

.counterparty-information__dropdown .ui-dropdown-list-item {
  border-bottom: 1px solid #dddddd;
  border-inline: 1px solid #dddddd;
  padding: 8px;
  font-size: 12px;
  line-height: 170%;
  letter-spacing: 0.03rem;
  color: #333333;
}

.ui-dropdown-header {
}

.ui-dropdown-body {
  height: calc(100% - 41.8px);
  overflow-y: auto;
}

.ui-dropdown-list {
}

@media (max-width: 1399.98px) {
}
@media (max-width: 1199.98px) {
}
@media (max-width: 991.98px) {
}
@media (max-width: 767.98px) {
}
@media (max-width: 575.98px) {
}

.orders {
}

.orders__actions {
  display: flex;
  align-items: center;
}

.documents .orders__actions {
  margin-top: 16px;
}

.orders__datepicker {
}

.orders__tabs-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 16px;
}

.orders__tabs-links {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.orders__tabs-links .custom-button {
  font-family: "DIN Pro Cond";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  text-transform: uppercase;
}

.orders__refresh-button {
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  margin-left: 15px;
}

/* .orders__refresh-button:hover {
  transition: background-color 0.2s ease;
  background-color: #1c48a0;
}

.orders__refresh-button:hover:after {
  transition: background-image 0.2s ease;
  background-image: url(../icons/white-reload.svg);
} */

.orders__refresh-button::after {
  content: "";
  width: 15px;
  height: 15px;
  display: block;
  background-image: url(../icons/blue-reload.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.orders__tabs {
  margin-top: 16px;
}

.ui-tabs-container {
}

.ui-tabs-list {
}

.ui-tabs-control {
}

.ui-tabs-items {
}

.company-layout__tabs-container {
}

.ui-tabs-item {
}

.--active {
}

.orders__counts {
  margin-block: 16px;
  display: flex;
  justify-content: space-between;
}

.orders__count-row {
}

.orders__count-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.03em;
  color: #2c2c2c;
}

.orders__count-value {
  margin-left: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.03rem;
  color: #1c48a0;
}

.orders .ui-tabs-items {
  margin-top: 0;
}

.orders__list {
  padding: 16px 24px;
  background-color: #f5f5f7;
  border: 1px solid #dddddd;
}

.orders__list-item {
  display: flex;
  padding-block: 16px;
}

.orders__list-left-block {
  display: flex;
  flex: 1 1;
}

.orders__list-main-info {
  width: 55%;
}

.orders__list-number {
  font-weight: 700;
  line-height: 160%;
  letter-spacing: 0.03rem;
  text-decoration-line: underline;
  color: #2c2c2c;
}

.orders__list-price {
  margin-top: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.03em;
  color: #2c2c2c;
}

.orders__list-link {
  font-family: "DIN Pro Cond";
  font-weight: 700;
  line-height: 170%;
  text-transform: uppercase;
  color: #1c48a0;
  border-bottom: 1px solid #1c48a0;
  height: fit-content;
  width: fit-content;
}

.orders__list-right-block {
  display: flex;
  align-items: baseline;
  flex: 1 1;
}

.orders__list-label {
  width: 175px;
}
.orders__list-label .label {
  padding-inline: unset;
  width: 100%;
}

.orders__list-date {
  margin-left: auto;
}

.orders__requests {
}

.orders__requests-table {
  width: 100%;
}

.orders__requests-row-item {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.orders__requests table,
.orders__requests th,
.orders__requests td {
  border: 1px solid #dddddd;
  border-collapse: collapse;
}

.orders__count-row-action {
  height: 25px;
  width: 25px;
  background-color: #eef3f4;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.orders__count-row-action::after {
  content: "";
  width: 10px;
  height: 10px;
  display: block;
  background-image: url(../icons/blue-chevron-left.svg);
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(90deg);
}

.--active.orders__count-row-action:after {
  transform: rotate(270deg);
}

.orders__requests-row-description {
  background-color: #f9f9f9;
  padding: 32px 32px 64px 32px;
}

.orders__requests-header {
  display: flex;
  justify-content: space-between;
}

.orders__requests-header-right-block {
}

.orders__requests-header-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 170%;
  letter-spacing: 0.03rem;
  color: #333333;
}

.orders__requests-header-text {
  line-height: 160%;
  letter-spacing: 0.03rem;
  color: #2c2c2c;
}

.orders__requests-header-links {
  display: flex;
  gap: 32px;
}

.orders__requests-header-link {
  font-family: "DIN Pro Cond";
  font-weight: 700;
  line-height: 170%;
  text-transform: uppercase;
  color: #1c48a0;
  border-bottom: 1px solid #1c48a0;
  height: fit-content;
  padding-bottom: 4px;
}

.orders__requests-body {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.orders__requests-body-text {
  line-height: 160%;
  letter-spacing: 0.03rem;
  color: #333333;
}

.orders__requests-footer {
  margin-top: 32px;
  display: flex;
  align-items: center;
}

.orders__requests-footer-link {
  font-weight: 700;
  line-height: 170%;
  letter-spacing: 0.03rem;
  color: #333333;
  display: flex;
  align-items: center;
}

.orders__requests-footer-link::before {
  margin-right: 8px;
  content: "";
  display: block;
  height: 17px;
  width: 14px;
  background-image: url(../icons/blue-small-pdf.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.orders__requests-footer-file-size {
  margin-left: 12px;
  line-height: 160%;
  letter-spacing: 0.03rem;
  color: #333333;
}

.ui-table-collapse-child {
  display: none;
}

.ui-table-collapse-child.--open {
  display: table-row;
}

/* documents ------------------------ */
.orders__documents-list {
  background-color: #f5f5f7;
}

.orders.documents .orders__tabs {
  margin-top: 0;
}

.orders__documents-list {
  display: flex;
  flex-direction: column;
  padding: 32px;
}

.orders__documents-list-item {
  display: flex;
}

.orders__documents-img {
  display: none;
}

.orders__documents-list-item:not(:last-child) {
  padding-bottom: 32px;
}

.orders__documents-list-item:not(:first-child) {
  border-top: 1px solid #dddddd;
  padding-top: 32px;
}

.orders__documents-content-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 8px;
}

.orders__documents-text-container {
  max-width: 378px;
}

.orders__documents-title {
  font-weight: 700;
  line-height: 130%;
  border-bottom: 1px solid #333333;
  color: #333333;
}

.orders__documents-text {
  margin-top: 8px;
  font-size: 12px;
  line-height: 170%;
  letter-spacing: 0.03rem;
  color: #2c2c2c;
}

.orders__documents-info-container {
  display: none;
  gap: 23px;
}

.orders__documents-type {
  font-size: 12px;
  line-height: 170%;
  letter-spacing: 0.03rem;
  color: #2c2c2c;
}

.orders__documents-date-without-time {
  font-size: 12px;
  line-height: 170%;
  letter-spacing: 0.03rem;
  color: #2c2c2c;
}

.orders__documents-link {
  font-family: "DIN Pro Cond";
  display: block;
  font-weight: 700;
  line-height: 170%;
  text-transform: uppercase;
  color: #1c48a0;
  border-bottom: 1px solid #1c48a0;
  height: fit-content;
  width: fit-content;
}

.orders__documents-controls {
  display: flex;
  gap: 12px;
}

.orders__documents-control {
  height: 40px;
  width: 40px;
  border: 1px solid #dddddd;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s ease, border-color 0.2s ease;
}

.orders__documents-control:hover {
  background-color: #1c48a0;
  border-color: transparent;
}

.orders__documents-control::before {
  content: "";
  height: 16px;
  width: 16px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-image 0.2s ease;
}

.--view.orders__documents-control::before {
  background-image: url(../icons/blue-view.svg);
}

.--download.orders__documents-control::before {
  background-image: url(../icons/blue-download.svg);
}

.--view.orders__documents-control:hover::before {
  background-image: url(../icons/white-view.svg);
}

.--download.orders__documents-control:hover::before {
  background-image: url(../icons/white-download.svg);
}

.orders__documents-date {
}

@media (max-width: 1399.98px) {
}
@media (max-width: 1199.98px) {
  .orders__documents-list {
    padding: 24px;
  }
}
@media (max-width: 991.98px) {
  .notification__card-contacts {
    flex-direction: column;
    gap: 8px;
  }

  .orders__list-right-block {
    flex-direction: column;
    /* justify-content: center; */
    gap: 8px;
    flex: none;
    align-items: center;
  }

  .orders__list-left-block {
    flex-direction: column;
  }

  .orders__list-date {
    margin-left: 0;
  }
  .orders__list-link {
    margin-top: 8px;
  }
  .orders__tabs-links {
    gap: 16px;
  }
}
@media (max-width: 767.98px) {
  .personal-area__content-container {
    flex-direction: column;
    gap: 24px;
  }
  .notification__list-item-label {
    display: none;
  }
  .orders__list {
    padding: 24px 20px;
  }
  .orders__list-item:last-child {
    padding-bottom: 0;
  }
  .orders__list-item:first-child {
    padding-top: 0;
  }
  .orders__list-item:not(:first-child) {
    border-top: 1px solid #dddddd;
    padding-top: 16px;
  }

  .orders__list-item:not(:last-child) {
    padding-bottom: 32px;
  }

  .orders__requests thead {
    display: none;
  }
  .orders__documents-list {
    padding: 16px;
  }
  .orders__documents-list-item {
    padding: 16px !important;
    gap: 16px;
  }
  .orders__documents-img {
    aspect-ratio: 80 / 94;
    object-fit: cover;
    object-position: center;
  }
  .orders__documents-content-container {
    flex-direction: column;
  }

  .orders__documents-img {
    display: block;
  }

  .orders__documents-title {
    font-weight: 600;
    font-size: 12px;
    line-height: 170%;
    letter-spacing: 0.03rem;
    color: #333333;
  }
  .orders__documents-text {
    display: none;
  }
  .orders__documents-date {
    display: none;
  }
  .orders__documents-info-container {
    display: flex;
  }
  .orders__documents-link {
    order: 10;
  }
}
@media (max-width: 575.98px) {
  .notification__count:last-child {
    display: none;
  }
  .notification__count:first-child {
    margin-bottom: 16px;
  }
  .notification__card {
    flex-direction: column;
    gap: 16px;
  }
  .notification__actions {
    flex-direction: column;
    gap: 6px;
  }
  .notification__counts {
    margin-top: 16px;
  }
  .notification__list-item {
    flex-direction: column;
  }
  .notification__list-item-date {
    text-align: start;
  }

  .notification__list-item {
    gap: 6px;
  }

  .counterparty-information__card * {
    width: 100%;
  }

  .counterparty-information {
    margin-bottom: 56px;
  }

  .orders__list-label {
    width: 160px;
  }

  /* .orders.applications-and-requests, */
  .orders__requests,
  .orders__list {
    margin-inline: -20px;
  }

  .personal-area__content,
  .personal-area__content-container {
    overflow: unset;
  }
  .orders__count-row:last-child {
    display: none;
  }
  .orders__documents-list-item {
    padding-inline: 0 !important;
  }
  .orders__tabs-links,
  .orders__tabs-links .custom-button {
    width: 100%;
  }
}
