@import url(./reset.css);
@import url(./buttons.css);
@import url(./catalog-of-product-sections.css);
@import url(./heading.css);
@import url(./fonts/index.css);
@import url(./labels.css);
@import url(./variables.css);
@import url(./inputs.css);
@import url(./header.css);
@import url(./footer.css);
@import url(./breadcrumbs.css);
@import url(./select.css);
@import url(./layouts/products.css);
@import url(./layouts/popap.css);
@import url(./license.css);
@import url(./how-to-buy.css);
@import url(./cards/popular-product-cards.css);

body {
  font-family: "Roboto";
  background-color: #f9f9f9;
}

.custom-scroll-bar::-webkit-scrollbar {
  width: 6px;
}

.custom-scroll-bar::-webkit-scrollbar-track {
  background-color: #ddd;
}

.custom-scroll-bar::-webkit-scrollbar-thumb {
  background-color: #1c48a0;
}

.ui-tabs-container {
  display: flex;
  flex-direction: column;
}

.ui-tabs-list {
  display: flex;
  overflow-x: auto;
}

.ui-tabs-list::-webkit-scrollbar {
  display: none;
}

.ui-tabs-list {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.ui-tabs-control {
  line-height: 160%;
  cursor: pointer;
  white-space: nowrap;
}

.ui-tabs-items {
  position: relative;
}

.ui-tabs-item {
  display: none;
}

.ui-tabs-item.--active {
  display: block;
}
.breadcrumbs {
  position: relative;
  z-index: 1;
}

.product-page {
  background-color: #f9f9f9;
}

.product-page__container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
  z-index: 1;
}

.product-body-container::after {
  content: "";
  z-index: -1;
  position: absolute;
  height: 98%;
  width: 500px;
  right: -30px;
  bottom: -50px;
  background-color: rgba(28, 72, 160, 0.05);
}

/* .product-page__container:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 200px;
  background-color: red;
} */
/* .product-body::after { */
/* content: "";
  position: absolute;
  height: 100%;
  width: 200px;
  top: 300px;
  right: 300px;
  background-color: red; */
/* } */

.product-page__container-fluid {
  max-width: calc(100% - 100px);
  margin: 0 auto;
}

/* --------- product header -------------------------------- */
.product-header {
  display: flex;
  position: relative;
  margin-top: 28px;
}

.product-header__share-button {
  min-height: 44px;
  min-width: 44px;
  background-color: #1c48a0;
  border: 1px solid transparent;
  background-image: url(../icons/white-share.svg);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  z-index: 1;
  top: -78px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.product-header__share-button:hover {
  background-color: #2655b4;
}
.product-header__share-button:active {
  background-color: #1c48a0;
}

.product-header__galery {
  background-color: #ffffff;
  position: relative;
  overflow: visible;
  min-width: 560px;
  max-width: 560px;
  height: min-content;
}

.product-header__galery::before {
  content: "";
  position: absolute;
  width: 300%;
  height: 300%;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
}

.prodcut-header__galery-container {
  height: 640px;
  width: 100%;
  padding: 0 0 148% 0;
  position: relative;
}

.product-header__galery-product-img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.prodcut-header__galery-labels {
  position: absolute;
  top: 0;
  right: 34px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 12px;
}

.product-header__galery-link {
  display: flex;
  align-items: flex-end;
  padding: 16px;
  right: 0;
  top: 250px;
  font-size: 12px;
  line-height: 170%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #333333;
  background-color: #f5f5f7;
  position: absolute;
  height: 88px;
  width: 88px;
  border-left: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  background-image: url(../icons/gray-pdf.svg);
  background-repeat: no-repeat;
  background-size: 40px;
  background-position-x: center;
  background-position-y: 13px;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease,
    background-image 0.2s ease, border-color 0.2s ease;
}

.product-header__galery-link:hover {
  background-color: #1c48a0;
  color: #ffffff;
  background-image: url(../icons/white-pdf.svg);
  border-color: #1c48a0;
}

.product-header__galery-slider {
  margin: 0 auto 73px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-header__galery-slider .swiper {
  width: 66%;
  margin-left: 0;
  margin-right: 0;
}

.product-header__galery-slider-next,
.product-header__galery-slider-prev {
  position: relative;
  min-height: 40px;
  min-width: 40px;
  max-height: 40px;
  max-width: 40px;
  cursor: pointer;
  background-color: #1c48a0;
  border: 1px solid transparent;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 0.2s ease, borde-color 0.2s ease,
    background-color 0.2s ease;
}

.product-header__galery-slider-next:active,
.product-header__galery-slider-prev:active {
  background-color: #1c48a0;
}

.product-header__galery-slider-next:hover,
.product-header__galery-slider-prev:hover {
  background-color: #2655b4;
}

.product-header__galery-slider-next:disabled,
.product-header__galery-slider-prev:disabled {
  border-color: #dddddd;
  background-color: #ffffff;
}

.product-header__galery-slider-next:disabled {
  background-image: url(../icons/gray-chevron-right.svg);
}
.product-header__galery-slider-prev:disabled {
  background-image: url(../icons/gray-chevron-right.svg);
  transform: rotate(180deg);
}

.product-header__galery-slider-next {
  background-image: url(../icons/white-chevron-right.svg);
}
.product-header__galery-slider-prev {
  background-image: url(../icons/white-chevron-left.svg);
}

.product-header__galery-slider-img-container {
  position: relative;
  padding: 0 0 98% 0;
}

.product-header__galery-slider-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-header__galery-slider-next {
  margin-left: 24px;
}

.product-header__galery-slider-prev {
  margin-right: 24px;
}

.product-header__description {
  margin-left: 34px;
  overflow: hidden;
}

.product-info {
  display: flex;
  flex-direction: column;
}

.prodcut-info__title-container {
  display: flex;
  align-items: center;
}

.prodcut-info__discount {
  margin-left: 16px;
  font-family: "DIN Pro Cond";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #ffffff;
  padding: 3px 10px;
  background-color: #ec3f3f;
}

.product-info__vendor-conde {
  margin-top: 8px;
  font-family: "DIN Pro Cond";
  font-size: 20px;
  line-height: 170%;
  text-transform: uppercase;
  color: #2c2c2c;
}

.product-info__general-info-list {
  display: flex;
  align-items: center;
}

.prodcut-info__price {
  font-family: "DIN Pro Cond";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
  color: #333333;
  display: flex;
  align-items: center;
}

.prodcut-info__price-icon {
  display: block;
  height: 30px;
  width: 30px;
  background-image: url(../icons/rub-black.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.product-info__solution-price {
  padding-bottom: 4px;
  margin-left: 12px;
  line-height: 160%;
  letter-spacing: 0.03rem;
  color: #1c48a0;
  border-bottom: 1px solid #1c48a0;
  transition: border-color 0.2s ease, color 0.2s ease;
}

.product-info__solution-price:hover {
  border-color: #2655b4;
  color: #2655b4;
}

.product-info__solution-price:active {
  border-color: #1c48a0;
  color: #1c48a0;
}

.product-info__solution-icon {
  position: relative;
  border: 1px solid #dddddd;
  display: inline-block;
  margin-left: 8px;
  height: 30px;
  width: 30px;
  background-image: url(../icons/blue-icon-question.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 13px;
  cursor: pointer;
}

.product-info__solution-icon:hover {
  background-color: #1c48a0;
  border-color: #1c48a0;
  background-image: url(../icons/white-question.svg);
  transition: background-color 0.2s ease, border-color 0.2s ease;
}

.product-info__solution-icon:hover .product-info__solution-popup {
  display: block;
}

.product-info__solution-popup {
  display: none;
}

.solution-popup {
  position: absolute;
  top: 0;
  left: 44px;
  background-color: #ffffff;
  padding: 10px;
  flex-direction: column;
}

.solution-popup__row {
  display: flex;
  gap: 10px;
}

.solution-popup__row:not(:first-child) {
  margin-top: 8px;
}

.solution-popup__title {
  font-size: 12px;
  line-height: 170%;
  color: #b3b3b3;
}

.solution-popup__text {
  font-size: 12px;
  line-height: 170%;
  color: #2c2c2c;
  margin-top: 4px;
}

.solution-popup__title,
.solution-popup__text {
  white-space: nowrap;
}

.solution-popup__col {
  display: flex;
  flex-direction: column;
}

.product-info__manufacturer {
  margin-left: auto;
  font-family: "DIN Pro Cond";
  line-height: 170%;
  text-transform: uppercase;
  color: #333333;
  display: flex;
  align-items: center;
}

.product-info__manufacturer-link {
  display: flex;
  align-items: center;
  margin-left: 18px;
}

.product-info__product-description {
  margin-top: 20px;
  background-color: #f5f5f7;
  border: 1px solid #dddddd;
  padding: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 170%;
  letter-spacing: 0.03rem;
  color: #2c2c2c;
}

.prodcut-info__tabs-container {
  margin-top: 32px;
}

.description-tabs__list {
  gap: 26px;
  border-bottom: 1px solid #dddddd;
}

.description-tabs__list-item {
  font-family: "DIN Pro Cond";
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  text-transform: uppercase;
  color: #b3b3b3;
  padding-bottom: 5px;
}

.description-tabs__list-item.--active {
  color: #333333;
  border-bottom: 3px solid #333333;
}

.description-tabs__content {
  margin-top: 20px;
}

.description-tabs__content-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.description-tabs__content-item-text {
  padding-left: 24px;
  font-size: 18px;
  line-height: 170%;
  letter-spacing: 0.03rem;
  position: relative;
}

.description-tabs__content-item-text::before {
  position: absolute;
  content: "";
  display: block;
  height: 8px;
  width: 8px;
  left: 0;
  top: 11px;
  background-color: #1c48a0;
}

.prodcut-info__controls {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.prodcut-info__controls-number-input .custom-number-input {
  margin-right: 0;
}

.product-info__add-to-cart-button {
  font-family: "DIN Pro Cond";
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  text-transform: uppercase;
  color: #ffffff;
}

.prodcut-info__controls-link {
  height: 62px;
  width: 62px;
  border: 1px solid #dddddd;
  margin-left: 24px;
  background-image: url(../icons/blue-clip.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-left: unset;
  transition: background-image 0.2s ease, border-color 0.2s ease,
    background-color 0.2s ease;
}

.prodcut-info__controls-link:hover {
  background-color: #1c48a0;
  border-color: #1c48a0;
  background-image: url(../icons/white-clip.svg);
}

.prodcut-info__title-mobile {
  display: none;
}

.product-header__share-button-mobile {
  display: none;
}
.product-info__vendor-conde__mobile {
  display: none;
}
.product-info__vendor-conde {
  display: none;
}

@media (max-width: 1199.98px) {
  .product-header__galery {
    min-width: 400px;
    max-width: 400px;
  }
}
@media (max-width: 991.98px) {
  .product-body-container::after {
    content: "";
    background: unset;
  }

  .product-header__galery {
    min-width: 300px;
    max-width: 300px;
  }

  .product-info__general-info-list {
    flex-direction: column;
    align-items: flex-start;
  }

  .product-info__manufacturer {
    margin-left: 0;
  }

  .product-info__solution-price {
    margin-left: 0;
  }

  .product-info__manufacturer {
    margin-top: 20px;
  }

  .product-info__solution-container {
    display: flex;
    align-items: center;
  }
}
@media (max-width: 767.98px) {
  .prodcut-info__title-mobile {
    display: flex;
  }
  .product-header {
    flex-direction: column;
  }
  .product-header__galery::before {
    content: unset;
  }
  .product-header__galery {
    min-width: 100%;
  }

  .prodcut-header__galery-container {
    padding: 0 0 95% 0;
  }

  .product-header__description .product-info__vendor-conde {
    display: none;
  }
  .product-info__vendor-conde__mobile {
    display: block;
  }
  .product-header__description .prodcut-info__title-container {
    display: none;
  }
  .product-header__galery {
    margin-top: 16px;
  }
  .product-info__general-info-list {
    margin-top: 16px;
  }
  .prodcut-header__galery-container {
    padding: 0;
  }
  .prodcut-header__galery-image-container {
    width: 60%;
    height: 95%;
    margin: 0 auto;
    padding: 0 0 90% 0;
    position: relative;
  }
  .prodcut-header__galery-labels {
    margin-top: 24px;
    right: unset;
    left: 20px;
    align-items: flex-start;
  }
  .product-info__solution-container {
    margin-top: 4px;
  }
  .prodcut-info__controls {
    order: 2;
  }
  .product-header__description {
    margin-left: 0;
  }
}

@media (max-width: 575.98px) {
  .prodcut-header__galery-labels {
    gap: 8px;
  }
  .prodcut-header__galery-image-container {
    width: 100%;
    height: 100%;
    padding: 0 0 156% 0;
  }
  .prodcut-header__galery-container {
    height: unset;
  }

  .product-header {
    margin-top: 8px;
  }
  .product-info__vendor-conde {
    margin-top: 4px;
  }
  .product-header__share-button {
    display: none;
  }
  .product-header__share-button-mobile {
    display: block;
    position: absolute;
    top: 160px;
  }
  .product-header__galery-link {
    top: 24px;
  }
  .product-info__solution-price {
    font-size: 14px;
  }
  .product-info__solution-icon {
    height: 23px;
    width: 23px;
  }
  .product-info__general-info-list {
    order: -2;
  }
  .prodcut-info__controls {
    margin-top: 16px;
    order: -1;
  }
  .product-info__product-description {
    margin-top: 16px;
  }
  .product-header__galery-slider-next {
    margin-left: 6px;
  }
  .product-header__galery-slider-prev {
    margin-right: 6px;
  }
}

.product-body {
  position: relative;
  margin-top: 50px;
  background-color: #ffffff;
  position: relative;
}

/* .product-body:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 400px;
  right: -100px;
  top: 100px;
  background-color: rgba(28, 72, 160, 0.05);
} */

.product-body::before {
  content: "";
  position: absolute;
  background-color: #dddddd;
  height: 1px;
  width: 100%;
  top: 83px;
}

.product-body__tabs-container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 20px;
}

.product-body__list-item {
  font-family: "DIN Pro Cond";
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  text-transform: uppercase;
  color: #b3b3b3;
  padding: 20px 41px 29px 41px;
  background-color: #f9f9f9;
  border-bottom: 3px solid transparent;
}

.product-body__list-item.--active {
  color: #333333;
  border-color: #333333;
}

.characteristics-row {
  display: flex;
  padding-top: 32px;
  padding-bottom: 30px;
  border-bottom: 1px solid #dddddd;
}

.characteristics-row__title {
  max-width: 22%;
  min-width: 22%;
  font-family: "DIN Pro Cond";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  text-transform: uppercase;
  color: #333333;
}

.characteristics-row__text-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.characteristics-row__text {
  padding-left: 20px;
  line-height: 160%;
  letter-spacing: 0.03rem;
  color: #2c2c2c;
  position: relative;
}

.characteristics-row__text::before {
  content: "";
  position: absolute;
  height: 8px;
  width: 8px;
  background-color: #1c48a0;
  left: 0;
  top: 9px;
}

.product-body__link {
  font-family: "DIN Pro Cond";
  font-size: 20px;
  line-height: 130%;
  text-transform: uppercase;
  color: #1c48a0;
  border-bottom: 1px solid #1c48a0;
  padding-bottom: 8px;
  transition: color 0.2s ease, border-color 0.2s ease;
  display: inline-block;
  cursor: pointer;
  margin-bottom: 62px;
  margin-top: 32px;
}

.product-body__link:hover {
  color: #2655b4;
  border-color: #2655b4;
}

.product-body__link:active {
  color: #1c48a0;
  border-color: #1c48a0;
}

.all-viewer-application-modes {
  margin-top: 32px;
  display: flex;
  align-items: center;
  border: 1px solid #dddddd;
}

.all-viewer-application-modes__img {
  width: 94px;
  height: 94px;
  background-color: #1c48a0;
  background-image: url(../icons/white-pdf.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 66px;
}

.all-viewer-application-modes__text-container {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.all-viewer-application-modes__title {
  font-family: "DIN Pro Cond";
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  text-transform: uppercase;
  color: #2c2c2c;
  transition: color 0.2s ease;
}

.all-viewer-application-modes__title:hover {
  color: #1c48a0;
}

.all-viewer-application-modes__info {
  display: flex;
  align-items: center;
  margin-top: 9px;
}

.all-viewer-application-modes__doc-type {
  font-weight: 400;
  font-size: 12px;
  line-height: 170%;
  letter-spacing: 0.03rem;
  color: #2c2c2c;
}

.all-viewer-application-modes__slash {
  margin-left: 9px;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #e5e7e9;
}

.all-viewer-application-modes__date {
  margin-left: 9px;
  font-size: 12px;
  line-height: 170%;
  letter-spacing: 0.03rem;
  color: #2c2c2c;
}

.all-viewer-application-modes__controls {
  display: flex;
  gap: 12px;
  margin-left: auto;
  margin-right: 24px;
}

.all-viewer-application-modes__controls-view,
.all-viewer-application-modes__controls-download {
  height: 40px;
  width: 40px;
  border: 1px solid #dddddd;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 0.2s ease, color 0.2s ease,
    border-color 0.2s ease;
}

.all-viewer-application-modes__controls-view:hover,
.all-viewer-application-modes__controls-download:hover {
  background-color: #1c48a0;
  border-color: transparent;
}

.all-viewer-application-modes__controls-view:active,
.all-viewer-application-modes__controls-download:active {
  background-color: #2655b4;
}

.all-viewer-application-modes__controls-view:hover {
  background-color: #1c48a0;
  background-image: url(../icons/white-view.svg);
}

.all-viewer-application-modes__controls-download:hover {
  background-color: #1c48a0;
  background-image: url(../icons/white-download.svg);
}

.all-viewer-application-modes__controls-view {
  background-image: url(../icons/blue-view.svg);
}
.all-viewer-application-modes__controls-download {
  background-image: url(../icons/blue-download.svg);
}

.license__cards-list {
  margin-top: 32px;
}
.license__card {
  border: 1px solid #dddddd;
}
.licence__pagination {
  margin-top: 16px;
  margin-bottom: 64px;
}
.product-page-steps {
  margin-top: 32px;
  margin-bottom: 64px;
  display: flex;
  gap: 32px;
}
.how-to-buy__steps-list {
  margin-top: 0;
  width: 41%;
}
.how-to-buy::after {
  content: unset;
}
.how-to-buy__step-card {
  width: 100%;
  max-width: unset;
}
.product-page-steps-bg {
  background-color: rgba(28, 72, 160, 0.05);
  flex: 1;
  background-image: url(../images/how-to-buy-bag-transparent.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 630px;
}
.characteristics-row {
  gap: 20px;
}

@media (max-width: 1399.98px) {
  .characteristics-row__title {
    min-width: 30%;
    max-width: 30%;
  }
  .product-body__tabs-container {
    /* padding: unset; */
  }
  .product-page__container-fluid {
    margin: unset;
    max-width: 100%;
  }
  .product-body__list-item {
    background-color: #ffffff;
  }
}
@media (max-width: 1199.98px) {
  .characteristics-row__title {
    min-width: 40%;
    max-width: 40%;
  }
  .how-to-buy__steps-list {
    width: 100%;
  }
  .product-page-steps-bg {
    display: none;
  }
}
@media (max-width: 991.98px) {
  .characteristics-row__title {
    font-size: 38px;
    max-width: 100%;
  }

  .product-body__list-item {
    font-size: 22px;
    padding: 20px;
  }
  .product-body::before {
    top: 71px;
  }
  .characteristics-row {
    flex-direction: column;

    padding-top: 26px;
    padding-bottom: 26px;
  }
}
@media (max-width: 767.98px) {
  .characteristics-row__title {
    font-size: 34px;
  }
  .product-body__list-item {
    font-size: 20px;
    padding: 18px;
  }
  .product-body::before {
    top: 65px;
  }
  .characteristics-row {
    flex-direction: column;

    padding-top: 26px;
    padding-bottom: 26px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .characteristics-row {
    gap: 18px;
  }

  .all-viewer-application-modes {
    padding: 16px;
    gap: 16px;
  }
  .all-viewer-application-modes__text-container {
    flex: 1 1 auto;
    padding: 0;
  }
  .all-viewer-application-modes__controls {
    margin-left: 0;
  }
  .all-viewer-application-modes {
    flex-wrap: wrap;
  }
  .all-viewer-application-modes__img {
    height: 65px;
    width: 65px;
    background-size: 50px;
  }
  .product-body__link {
    font-size: 18px;
  }
  .licence__pagination {
    display: none;
  }
}
@media (max-width: 575.98px) {
  .characteristics-row__title {
    font-size: 30px;
  }
  .product-body__list-item {
    font-size: 18px;
    padding: 16px;
  }
  .product-body::before {
    top: 59px;
  }
  .characteristics-row {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .characteristics-row {
    gap: 16px;
  }
  .all-viewer-application-modes__img {
    height: 45px;
    width: 45px;
    background-size: 39px;
  }
  .product-body__link {
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

/* popular product slider ---------------------------------- */
.popular-product-slider {
  display: flex;
}

.popular-product-slider__cards-container {
  width: 100%;
}

.popular-product-slider__swiper {
  max-width: 100%;
}

.popular-product-slider {
  max-width: 1340px;
  padding: 0 1.25rem;
  margin: 128px auto 0 auto;
}

.popular-product-slider .slider__controls {
  min-width: calc(100% / 3 + 8px);
}

.popular-product-slider .slider__controls-title {
  text-transform: uppercase;
  position: relative;
}

.product-page .brand-slider__controls-title {
  margin-top: 0;
}

.popular-product-slider .slider__controls-title:after,
.brand-slider__controls-title:after {
  content: "";
  height: 4.375rem;
  width: 4.375rem;
  display: block;
  left: -44px;
  top: -22px;
  position: absolute;
  background-image: url(../images/gray-logo-peace.png);
}

.popular-product-slider .custom-button-group {
  margin-top: 3rem;
}

.popular-product-card {
  width: 419px;
  position: relative;
}
.popular-product-card::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 15px 14px -3px rgba(48, 48, 48, 0.07);
  opacity: 0;
  z-index: -1;
}

.popular-product-card:hover:after {
  opacity: 1;
  transition: opacity 0.2s ease;
}

.swiper-slide.popular-product-card {
  width: 419px;
}

.popular-product-slider__all-product-button {
  display: none;
}

@media (max-width: 1399.98px) {
}

@media (max-width: 1399.98px) {
  .popular-product-slider .slider__controls-title:after,
  .brand-slider__controls-title:after {
    left: 0;
    top: -39px;
  }
}
@media (max-width: 1199.98px) {
}
@media (max-width: 991.98px) {
  .popular-product-container {
    flex-wrap: wrap;
  }
  .popular-product-card {
    width: calc(100% / 2 - 12px);
  }

  .popular-product-slider .slider__controls {
    min-width: calc(100% / 2 + 8px);
  }
}
@media (max-width: 767.98px) {
  .popular-product-container {
    display: none;
  }
  .popular-product-slider {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
  }

  .popular-product-slider .custom-button-group {
    margin-top: 0.75rem;
  }
  .popular-product-slider__cards-container {
    margin-top: 1.25rem;
  }
}
@media (max-width: 575.98px) {
  .popular-product-slider .custom-button-group {
    display: none;
  }
  .popular-product-slider__swiper {
    padding: 0;
  }

  .popular-product-slider__all-product-button {
    margin-top: 12px;
    display: block;
    font-family: "DIN Pro Cond";
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    text-transform: uppercase;
    color: #ffffff;
  }
  .popular-product-card {
    min-height: unset;
  }

  .popular-product-card__header {
    height: 14.5rem;
  }

  .brand-slider__controls {
    margin-top: 0;
  }
}
/* popular product slider ---------------------------------- */

/* article slider ------------------------------------------------------*/
.brand-slider__link,
.articles-slider__link {
  margin-top: 1rem;
  display: inline-block;
  font-family: "DIN Pro Cond";
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 130%;
  text-transform: uppercase;
  color: #1c48a0;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #1c48a0;
}

.articles-slider {
  display: flex;
  max-width: 1340px;
  padding: 0 1.25rem;
  margin: 8rem auto 8rem auto;
}
.articles-slider__controls {
  max-width: calc(100% / 4);
  position: relative;
}

.brand-slider__controls-title {
  margin-top: 1.5625rem;
}
.articles-slider__news-link {
  display: flex;
  align-items: center;
  margin-top: 0.375rem;
  font-family: "DIN Pro Cond";
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 130%;
  text-transform: uppercase;
  color: #b3b3b3;
}

.articles-slider__news-link:after {
  content: "";
  width: 0.875rem;
  height: 0.875rem;
  margin-left: 0.5rem;
  display: block;
  background-image: url(../icons/gray-chevron-right.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.custom-button-group {
  margin-top: 8rem;
}

.articles-slider__content-container {
  width: 100%;
  margin-left: 8rem;
}
.articles-slider__swiper {
  width: 100%;
}

.articles-slider__swiper-card {
  padding-right: 1rem;
}

.articles-slider__swiper-card:not(:last-child) {
  border-right: 1px solid #dddddd;
}

.articles-slider__header-labels,
.articles-slider__footer-labels {
  margin-top: 1.25rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.articles-slider__footer-labels {
  margin-bottom: 62px;
}

.articles-slider__card-label {
  display: flex;
  align-items: center;
  height: 1.625rem;
  padding: 0.375rem 0.5625rem;
  border-radius: 2px;
  font-family: "DIN Pro Cond";
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 140%;
  text-transform: uppercase;
  border: 1px solid transparent;
}

.articles-slider__card-label.--blue {
  background-color: #e2ebff;
  color: #1c48a0;
}

.articles-slider__card-label.--gray {
  border-color: #dddddd;
  color: #b3b3b3;
}

.articles-slider__card-label.--white {
  color: #333333;
  background-color: #ffffff;
}

.articles-slider__card-title {
  margin-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #dddddd;
  font-family: "DIN Pro Cond";
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  color: #333333;
  cursor: pointer;
}

.articles-slider__card-title:hover {
  color: #1c48a0;
  transition: color 0.2s ease;
}

@media (max-width: 1399.98px) {
}
@media (max-width: 1199.98px) {
}
@media (max-width: 991.98px) {
}
@media (max-width: 767.98px) {
  .articles-slider {
    flex-direction: column;
  }

  .articles-slider__controls {
    max-width: unset;
  }
  .articles-slider__content-container {
    margin-left: unset;
  }
  .articles-slider__controls .custom-button-group {
    display: none;
  }
  .articles-slider__content-container {
    margin-top: 24px;
  }
  .articles-slider__link {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .articles-slider__card-label {
    font-size: 1rem;
    padding: 0.25rem 0.5625rem;
  }
  .articles-slider {
    margin-top: 100px;
    margin-bottom: 56px;
  }
  .about-company {
    margin-top: 56px;
  }
}
@media (max-width: 575.98px) {
}

/* article slider ------------------------------------------------------*/

/* categories slider  ---------------------------------------------*/

.categories-slider {
  margin-top: 128px;
}

.categories-slider__swiper {
  max-width: 1500px;
}

.categories-slider__slider-item {
  display: flex;
}

.categories-slider__img-container {
  min-width: 753px;
  max-width: 753px;
  position: relative;
  padding: 0 0 33.6% 0;
}
.categories-slider__img-container img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.categories-slider__description-container {
  margin-left: 60px;
  display: flex;
  flex-direction: column;
  height: 502px;
}

.categories-slider__description-title {
  margin-top: 76px;
  font-family: "DIN Pro Cond";
  font-weight: 700;
  font-size: 64px;
  line-height: 110%;
  color: #333333;
}

.categories-slider__description-text {
  margin-top: 32px;
  font-size: 18px;
  line-height: 170%;
  letter-spacing: 0.03rem;
  color: #2c2c2c;
}

.categories-slider .custom-button-group {
  margin-top: auto;
  margin-bottom: 50px;
}

@media (max-width: 1399.98px) {
  .categories-slider {
    padding: 0 20px;
  }
  .categories-slider__description-container {
    margin-left: 36px;
  }
  .categories-slider__img-container {
    max-width: 600px;
    min-width: 600px;
  }
}
@media (max-width: 1199.98px) {
  .categories-slider__description-title {
    font-size: 52px;
  }
}
@media (max-width: 991.98px) {
  .categories-slider__description-title {
    margin-top: unset;
    font-size: 48px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
  .categories-slider__img-container {
    max-width: 400px;
    min-width: 400px;
  }
  .categories-slider__description-container {
    height: 316px;
  }
  .categories-slider__description-text {
    margin-top: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
  }
  .categories-slider .custom-button-group {
    margin-bottom: unset;
  }
}
@media (max-width: 767.98px) {
  .categories-slider .swiper {
    padding-bottom: 37px;
  }

  .categories-slider .swiper-slide {
    height: initial;
  }

  .categories-slider__slider-item {
    height: 100%;
    justify-content: space-between;
  }

  .categories-slider__description-title {
    margin-top: unset;
    font-size: 44px;
    overflow: visible;
    text-overflow: unset;
    display: block;
    -webkit-box-orient: unset;
    -webkit-line-clamp: none;
  }
  .categories-slider__description-text {
    height: unset;
    overflow: visible;
    text-overflow: unset;
    display: block;
    -webkit-box-orient: none;
    -webkit-line-clamp: none;
  }
  .categories-slider .custom-button-group {
    display: none;
  }

  .categories-slider__slider-item {
    flex-direction: column-reverse;
  }
  .categories-slider__img-container {
    padding: 0 0 66.6% 0;
    max-width: unset;
    min-width: unset;
  }
  .categories-slider {
    margin-top: 88px;
  }
  .categories-slider .custom-button-group {
    margin-top: 12px;
  }
  .product-page__container .popular-product-slider {
    padding: unset;
  }
  .categories-slider__description-container {
    margin-left: unset;
    height: unset;
  }
  .categories-slider__img-container {
    margin-top: 20px;
  }
  .product-page .articles-slider {
    padding: 0;
  }
  .categories-slider {
    margin-top: 60px;
  }
}
@media (max-width: 575.98px) {
  .categories-slider__description-title {
    font-size: 40px;
  }

  .categories-slider__img-container {
    margin-top: 16-px;
  }

  .popular-product-slider .swiper,
  .articles-slider .swiper {
    padding-bottom: 37px;
  }

  .categories-pagination {
    display: flex;
    justify-content: center;
  }
  .articles-slider {
    margin-top: 84px;
  }
  .categories-slider {
    margin-top: 40px;
  }
}

/* categories slider  ---------------------------------------------*/
