@import url(./reset.css);
@import url(./buttons.css);
@import url(./catalog-of-product-sections.css);
@import url(./heading.css);
@import url(./fonts/index.css);
@import url(./labels.css);
@import url(./variables.css);
@import url(./inputs.css);
@import url(./header.css);
@import url(./footer.css);
@import url(./breadcrumbs.css);
@import url(./select.css);
@import url(./layouts/products.css);
@import url(./layouts/popap.css);
@import url(./license.css);
@import url(./how-to-buy.css);
@import url(./cards/popular-product-cards.css);

body {
  font-family: "Roboto";
}

.custom-scroll-bar::-webkit-scrollbar {
  width: 6px;
}

.custom-scroll-bar::-webkit-scrollbar-track {
  background-color: #ddd;
}

.custom-scroll-bar::-webkit-scrollbar-thumb {
  background-color: #1c48a0;
}

.ui-tabs-container {
  display: flex;
  flex-direction: column;
}

.ui-tabs-list {
  display: flex;
  overflow-x: auto;
}

.ui-tabs-list::-webkit-scrollbar {
  display: none;
}

.ui-tabs-list {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.ui-tabs-control {
  line-height: 160%;
  cursor: pointer;
  white-space: nowrap;
}

.ui-tabs-control:hover {
  /* background-color: #eef3f4; */
}

.ui-tabs-control.--active:hover {
  /* background-color: #2655b4; */
}

.ui-tabs-control.--active {
  /* color: #fff; */
  /* border: 1px solid transparent; */
  /* background-color: #1c48a0; */
}

.ui-tabs-items {
  /* margin-top: 20px; */
  /* width: 100%; */
  position: relative;
}

.ui-tabs-item {
  display: none;
}

.ui-tabs-item.--active {
  display: block;
}
.breadcrumbs {
  position: relative;
  z-index: 1;
}

.product-page {
  background-color: #f9f9f9;
}

.product-page__container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 20px;
}

.product-page__container-fluid {
  max-width: calc(100% - 100px);
  margin: 0 auto;
}

/* --------- product header -------------------------------- */
.product-header {
  display: flex;
  position: relative;
  margin-top: 28px;
}

.product-header__share-button {
  min-height: 44px;
  min-width: 44px;
  background-color: #1c48a0;
  border: 1px solid transparent;
  background-image: url(../icons/white-share.svg);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  z-index: 1;
  top: -78px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.product-header__share-button:hover {
  background-color: #2655b4;
}
.product-header__share-button:active {
  background-color: #1c48a0;
}

.product-header__galery {
  background-color: #ffffff;
  position: relative;
  overflow: visible;
  min-width: 560px;
  max-width: 560px;
  height: min-content;
}

.product-header__galery::before {
  content: "";
  position: absolute;
  width: 300%;
  height: 300%;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
}

.prodcut-header__galery-container {
  height: 640px;
  width: 100%;
  padding: 0 0 148% 0;
  position: relative;
}

.product-header__galery-product-img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  height: 100%;
  width: 93%;
}

.prodcut-header__galery-labels {
  position: absolute;
  top: 0;
  right: 34px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 12px;
}

.product-header__galery-link {
  display: flex;
  align-items: flex-end;
  padding: 16px;
  right: 0;
  top: 250px;
  font-size: 12px;
  line-height: 170%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #333333;
  background-color: #f5f5f7;
  position: absolute;
  height: 88px;
  width: 88px;
  border-left: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  background-image: url(../icons/gray-pdf.svg);
  background-repeat: no-repeat;
  background-size: 40px;
  background-position-x: center;
  background-position-y: 13px;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease,
    background-image 0.2s ease, border-color 0.2s ease;
}

.product-header__galery-link:hover {
  background-color: #1c48a0;
  color: #ffffff;
  background-image: url(../icons/white-pdf.svg);
  border-color: #1c48a0;
}

.product-header__galery-slider {
  margin: 0 auto 73px auto;
  display: flex;
  align-items: center;
}

.product-header__galery-slider .swiper {
  width: 66%;
  margin-left: 0;
  margin-right: 0;
}

.product-header__galery-slider-next,
.product-header__galery-slider-prev {
  position: relative;
  min-height: 40px;
  min-width: 40px;
  max-height: 40px;
  max-width: 40px;
  cursor: pointer;
  background-color: #1c48a0;
  border: 1px solid transparent;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 0.2s ease, borde-color 0.2s ease,
    background-color 0.2s ease;
}

.product-header__galery-slider-next:active,
.product-header__galery-slider-prev:active {
  background-color: #1c48a0;
}

.product-header__galery-slider-next:hover,
.product-header__galery-slider-prev:hover {
  background-color: #2655b4;
}

.product-header__galery-slider-next:disabled,
.product-header__galery-slider-prev:disabled {
  border-color: #dddddd;
  background-color: #ffffff;
}

.product-header__galery-slider-next:disabled {
  background-image: url(../icons/gray-chevron-right.svg);
}
.product-header__galery-slider-prev:disabled {
  background-image: url(../icons/gray-chevron-right.svg);
  transform: rotate(180deg);
}

.product-header__galery-slider-next {
  background-image: url(../icons/white-chevron-right.svg);
}
.product-header__galery-slider-prev {
  background-image: url(../icons/white-chevron-left.svg);
}

.product-header__galery-slider-img-container {
  height: 80px;
  width: 80px;
}

.product-header__galery-slider-img {
  min-height: 80px;
  min-width: 80px;
}

.product-header__galery-slider-next {
  margin-left: 24px;
}

.product-header__galery-slider-prev {
  margin-right: 24px;
}

.product-header__description {
  margin-left: 34px;
  overflow: hidden;
}

.product-info {
}

.prodcut-info__title-container {
  display: flex;
  align-items: center;
}

.prodcut-info__title {
}

.prodcut-info__discount {
  margin-left: 16px;
  font-family: "DIN Pro Cond";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #ffffff;
  padding: 3px 10px;
  background-color: #ec3f3f;
}

.product-info__vendor-conde {
  margin-top: 8px;
  font-family: "DIN Pro Cond";
  font-size: 20px;
  line-height: 170%;
  text-transform: uppercase;
  color: #2c2c2c;
}

.product-info__general-info-list {
  display: flex;
  align-items: center;
}

.prodcut-info__price {
  font-family: "DIN Pro Cond";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
  color: #333333;
  display: flex;
  align-items: center;
}

/* .prodcut-info__price::after {
  content: "";
} */

.prodcut-info__price-icon {
  display: block;
  height: 30px;
  width: 30px;
  background-image: url(../icons/rub-black.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.product-info__solution-price {
  padding-bottom: 4px;
  margin-left: 12px;
  line-height: 160%;
  letter-spacing: 0.03rem;
  color: #1c48a0;
  border-bottom: 1px solid #1c48a0;
  transition: border-color 0.2s ease, color 0.2s ease;
}

.product-info__solution-price:hover {
  border-color: #2655b4;
  color: #2655b4;
}

.product-info__solution-price:active {
  border-color: #1c48a0;
  color: #1c48a0;
}

.product-info__solution-icon {
  position: relative;
  border: 1px solid #dddddd;
  display: inline-block;
  margin-left: 8px;
  height: 30px;
  width: 30px;
  background-image: url(../icons/blue-icon-question.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 13px;
  cursor: pointer;
}

.product-info__solution-icon:hover {
  background-color: #1c48a0;
  border-color: #1c48a0;
  background-image: url(../icons/white-question.svg);
  transition: background-color 0.2s ease, border-color 0.2s ease;
}

.product-info__solution-icon:hover .product-info__solution-popup {
  display: block;
}

.product-info__solution-popup {
  display: none;
}

.solution-popup {
  position: absolute;
  top: 0;
  left: 44px;
  background-color: #ffffff;
  padding: 10px;
  flex-direction: column;
}

.solution-popup__row {
  display: flex;
  gap: 10px;
}

.solution-popup__row:not(:first-child) {
  margin-top: 8px;
}

.solution-popup__title {
  font-size: 12px;
  line-height: 170%;
  color: #b3b3b3;
}

.solution-popup__text {
  font-size: 12px;
  line-height: 170%;
  color: #2c2c2c;
  margin-top: 4px;
}

.solution-popup__title,
.solution-popup__text {
  white-space: nowrap;
}

.solution-popup__col {
  display: flex;
  flex-direction: column;
}

.product-info__manufacturer {
  margin-left: auto;
  font-family: "DIN Pro Cond";
  line-height: 170%;
  text-transform: uppercase;
  color: #333333;
  display: flex;
  align-items: center;
}

.product-info__manufacturer-link {
  display: flex;
  align-items: center;
  margin-left: 18px;
}

.product-info__product-description {
  margin-top: 20px;
  background-color: #f5f5f7;
  border: 1px solid #dddddd;
  padding: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 170%;
  letter-spacing: 0.03rem;
  color: #2c2c2c;
}

.prodcut-info__tabs-container {
  margin-top: 32px;
}

.description-tabs {
}

.ui-tabs-container {
}

.description-tabs__list {
  gap: 26px;
  border-bottom: 1px solid #dddddd;
}

.ui-tabs-list {
}

.description-tabs__list-item {
  font-family: "DIN Pro Cond";
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  text-transform: uppercase;
  color: #b3b3b3;
  padding-bottom: 5px;
}

.description-tabs__list-item.--active {
  color: #333333;
  border-bottom: 3px solid #333333;
}

.ui-tabs-control {
}

.description-tabs__content {
  margin-top: 20px;
}

.description-tabs__content-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.ui-tabs-item {
}

.description-tabs__content-item-text {
  padding-left: 24px;
  font-size: 18px;
  line-height: 170%;
  letter-spacing: 0.03rem;
  position: relative;
}
.description-tabs__content-item-text::before {
  position: absolute;
  content: "";
  display: block;
  height: 8px;
  width: 8px;
  left: 0;
  top: 11px;

  background-color: #1c48a0;
}

.prodcut-info__controls {
  margin-top: 40px;
  display: flex;
}

.prodcut-info__controls-number-input {
}

.custom-number-input {
}

.--small {
}

.custom-number-input__plus-button {
}

.custom-number-input__minus-button {
}

.custom-number-input__input {
}

.product-info__controls-switcher {
  margin-left: 12px;
}

.product-info__add-to-cart-button {
  margin-left: 24px;
  font-family: "DIN Pro Cond";
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  text-transform: uppercase;
  color: #ffffff;
}

.prodcut-info__controls-link {
  height: 62px;
  width: 62px;
  border: 1px solid #dddddd;
  margin-left: 24px;
  background-image: url(../icons/blue-clip.svg);
  background-repeat: no-repeat;
  background-position: center;
  transition: background-image 0.2s ease, border-color 0.2s ease,
    background-color 0.2s ease;
}

.prodcut-info__controls-link:hover {
  background-color: #1c48a0;
  border-color: #1c48a0;
  background-image: url(../icons/white-clip.svg);
}
@media (max-width: 1399.98px) {
}
@media (max-width: 1199.98px) {
}
@media (max-width: 991.98px) {
}
@media (max-width: 767.98px) {
}
@media (max-width: 575.98px) {
}

.product-body {
  position: relative;
  margin-top: 50px;
  background-color: #ffffff;
}

.product-body:after {
}

.product-body::before {
  content: "";
  position: absolute;
  background-color: #dddddd;
  height: 1px;
  width: 100%;
  top: 83px;
}

.product-body__tabs-container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 20px;
}

.product-body__tabs-container::before {
}

.ui-tabs-container {
}

.product-body__list {
}

.ui-tabs-list {
}

.product-body__list-item {
  font-family: "DIN Pro Cond";
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  text-transform: uppercase;
  color: #b3b3b3;
  padding: 20px 41px 29px 41px;
  background-color: #f9f9f9;
  border-bottom: 3px solid transparent;
}

.product-body__list-item.--active {
  color: #333333;
  border-color: #333333;
}

.ui-tabs-control {
}

.product-body__content {
}

.ui-tabs-item {
}

.product-body__content-item {
}

.characteristics-row-container {
  /* margin-top: 32px; */
}

.characteristics-row {
  display: flex;
  padding-top: 32px;
  padding-bottom: 30px;
  border-bottom: 1px solid #dddddd;
}

.characteristics-row__title {
  max-width: 22%;
  min-width: 22%;
  font-family: "DIN Pro Cond";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  text-transform: uppercase;
  color: #333333;
}

.characteristics-row__text-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.characteristics-row__text {
  padding-left: 20px;
  line-height: 160%;
  letter-spacing: 0.03rem;
  color: #2c2c2c;
  position: relative;
}

/* .characteristics-row__text:not(:last-child) {
  margin-top: 32px;
} */

.characteristics-row__text::before {
  content: "";
  position: absolute;
  height: 8px;
  width: 8px;
  background-color: #1c48a0;
  left: 0;
  top: 9px;
}

.product-body__link {
  font-family: "DIN Pro Cond";
  font-size: 20px;
  line-height: 130%;
  text-transform: uppercase;
  color: #1c48a0;
  border-bottom: 1px solid #1c48a0;
  padding-bottom: 8px;
  transition: color 0.2s ease, border-color 0.2s ease;
  display: inline-block;
  cursor: pointer;
  margin-bottom: 62px;
  margin-top: 32px;
}

.product-body__link:hover {
  color: #2655b4;
  border-color: #2655b4;
}

.product-body__link:active {
  color: #1c48a0;
  border-color: #1c48a0;
}

.product-footer__content-item {
}

.all-viewer-application-modes {
  margin-top: 32px;
  display: flex;
  align-items: center;
  border: 1px solid #dddddd;
}

.all-viewer-application-modes__img {
  width: 94px;
  height: 94px;
  background-color: #1c48a0;
  background-image: url(../icons/white-pdf.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 66px;
}

.all-viewer-application-modes__text-container {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.all-viewer-application-modes__title {
  font-family: "DIN Pro Cond";
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  text-transform: uppercase;
  color: #2c2c2c;
  transition: color 0.2s ease;
}

.all-viewer-application-modes__title:hover {
  color: #1c48a0;
}

.all-viewer-application-modes__info {
  display: flex;
  align-items: center;
  margin-top: 9px;
}

.all-viewer-application-modes__doc-type {
  font-weight: 400;
  font-size: 12px;
  line-height: 170%;
  letter-spacing: 0.03rem;
  color: #2c2c2c;
}

.all-viewer-application-modes__slash {
  margin-left: 9px;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #e5e7e9;
}

.all-viewer-application-modes__date {
  margin-left: 9px;
  font-size: 12px;
  line-height: 170%;
  letter-spacing: 0.03rem;
  color: #2c2c2c;
}

.all-viewer-application-modes__controls {
  display: flex;
  gap: 12px;
  margin-left: auto;
  margin-right: 24px;
}

.all-viewer-application-modes__controls-view,
.all-viewer-application-modes__controls-download {
  height: 40px;
  width: 40px;
  border: 1px solid #dddddd;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 0.2s ease, color 0.2s ease,
    border-color 0.2s ease;
}

.all-viewer-application-modes__controls-view:hover,
.all-viewer-application-modes__controls-download:hover {
  background-color: #1c48a0;
  border-color: transparent;
}

.all-viewer-application-modes__controls-view:active,
.all-viewer-application-modes__controls-download:active {
  background-color: #2655b4;
}

.all-viewer-application-modes__controls-view:hover {
  background-color: #1c48a0;
  background-image: url(../icons/white-view.svg);
}

.all-viewer-application-modes__controls-download:hover {
  background-color: #1c48a0;
  background-image: url(../icons/white-download.svg);
}

.all-viewer-application-modes__controls-view {
  background-image: url(../icons/blue-view.svg);
}
.all-viewer-application-modes__controls-download {
  background-image: url(../icons/blue-download.svg);
}

.license {
}
.license__cards-list {
  margin-top: 32px;
}
.license__card {
  border: 1px solid #dddddd;
}
.license__card-content {
}
.license__card-img {
}
.license__card-img-footer {
}
.license__card-text-container {
}
.license__card-title {
}
.license__card-text {
}
.license__card-info {
}
.license__card-doc-type {
}
.license__card-delimiter {
}
.license__card-date {
}
.license__card-controls {
}
.license__card-view-button {
}
.custom-button {
}
.--m {
}
.--transparent {
}
.--square {
}
.license__card-button-text {
}
.license__card-download-button {
}
.licence__pagination {
}
.ui-pagination {
}
.ui-pagination-prev {
}
.ui-pagination-left-button {
}
.--l {
}
.ui-pagination-numbers {
}
.ui-pagination-number {
}
.--blue {
}
.ui-pagination-next {
}
.ui-pagination-right-button {
}
.how-to-buy {
}
.product-page-steps {
  margin-top: 32px;
  margin-bottom: 64px;
  display: flex;
  gap: 32px;
}
.how-to-buy__steps-list {
  margin-top: 0;
  width: 41%;
}
.how-to-buy__step {
  /* width: 100%; */
}
.how-to-buy::after {
  content: unset;
}
.--first-step {
}
.how-to-buy__step-number {
}
.how-to-buy__step-card {
  width: 100%;
  max-width: unset;
}
.how-to-buy__step-title {
}
.how-to-buy__step-text {
}
.product-page-steps-bg {
  background-color: rgba(28, 72, 160, 0.05);
  flex: 1;
  background-image: url(../images/how-to-buy-bag-transparent.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 630px;
}

@media (max-width: 1399.98px) {
}
@media (max-width: 1199.98px) {
}
@media (max-width: 991.98px) {
}
@media (max-width: 767.98px) {
}
@media (max-width: 575.98px) {
}

/* popular product slider ---------------------------------- */
.popular-product-slider {
  display: flex;
}

.popular-product-slider__cards-container {
  width: 100%;
}

.popular-product-slider__swiper {
  max-width: 100%;
}

.popular-product-slider {
  max-width: 1340px;
  padding: 0 1.25rem;
  margin: 128px auto 0 auto;
}

.popular-product-slider .slider__controls {
  min-width: calc(100% / 3 + 8px);
}

.popular-product-slider .slider__controls-title {
  margin-top: 5.5rem;
  text-transform: uppercase;
  position: relative;
}

.popular-product-slider .slider__controls-title:after {
  content: "";
  height: 4.375rem;
  width: 4.375rem;
  display: block;
  left: -44px;
  top: -20px;
  position: absolute;
  background-image: url(../images/gray-logo-peace.png);
}

.popular-product-slider .custom-button-group {
  margin-top: 3rem;
}

.popular-product-card {
  width: 419px;
  position: relative;
}
.popular-product-card::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 15px 14px -3px rgba(48, 48, 48, 0.07);
  opacity: 0;
  z-index: -1;
}

.popular-product-card:hover:after {
  opacity: 1;
  transition: opacity 0.2s ease;
}

.swiper-slide.popular-product-card {
  width: 419px;
}

.popular-product-slider__all-product-button {
  display: none;
}

@media (max-width: 1399.98px) {
  .slider__controls-title:after,
  .brand-slider__controls-title:after {
    left: -16px !important;
  }
}

@media (max-width: 1399.98px) {
}
@media (max-width: 1199.98px) {
}
@media (max-width: 991.98px) {
  .popular-product-container {
    flex-wrap: wrap;
  }
  .popular-product-card {
    width: calc(100% / 2 - 12px);
  }

  .popular-product-slider .slider__controls {
    min-width: calc(100% / 2 + 8px);
  }
}
@media (max-width: 767.98px) {
  .popular-product-container {
    display: none;
  }
  .popular-product-slider {
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }

  .popular-product-slider .custom-button-group {
    margin-top: 0.75rem;
  }
  .popular-product-slider__cards-container {
    margin-top: 1.25rem;
  }
}
@media (max-width: 575.98px) {
  .popular-product-slider .custom-button-group {
    display: none;
  }
  .popular-product-slider__swiper {
    padding: 0;
  }

  .swiper-slide.popular-product-card,
  .popular-product-card {
    width: unset !important;
  }

  .popular-product-slider__all-product-button {
    margin-top: 12px;
    display: block;
    font-family: "DIN Pro Cond";
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    text-transform: uppercase;
    color: #ffffff;
  }
  .popular-product-card {
    max-width: 16.9375rem;
    min-height: unset;
  }

  .popular-product-card__header {
    height: 14.5rem;
  }

  .popular-product-slider {
    margin-top: 4.6875rem;
  }

  .popular-product-slider .slider__controls-title {
    margin-top: 0;
  }
  .brand-slider__controls-title:after {
    left: 0 !important;
  }

  .brand-slider__controls {
    margin-top: 0;
  }
}
/* popular product slider ---------------------------------- */

/* article slider ------------------------------------------------------*/
.brand-slider__link,
.articles-slider__link {
  margin-top: 1rem;
  display: inline-block;
  font-family: "DIN Pro Cond";
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 130%;
  text-transform: uppercase;
  color: #1c48a0;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #1c48a0;
}

.articles-slider {
  display: flex;
  max-width: 1340px;
  padding: 0 1.25rem;
  margin: 8rem auto 8rem auto;
}
.articles-slider__controls {
  max-width: calc(100% / 4);
  position: relative;
}

.brand-slider__controls-title {
  margin-top: 1.5625rem;
}
.articles-slider__news-link {
  display: flex;
  align-items: center;
  margin-top: 0.375rem;
  font-family: "DIN Pro Cond";
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 130%;
  text-transform: uppercase;
  color: #b3b3b3;
}

.articles-slider__news-link:after {
  content: "";
  width: 0.875rem;
  height: 0.875rem;
  margin-left: 0.5rem;
  display: block;
  background-image: url(../icons/gray-chevron-right.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.custom-button-group {
  margin-top: 8rem;
}

.articles-slider__content-container {
  width: 100%;
  margin-left: 8rem;
}
.articles-slider__swiper {
  width: 100%;
}

.articles-slider__swiper-card {
  padding-right: 1rem;
}

.articles-slider__swiper-card:not(:last-child) {
  border-right: 1px solid #dddddd;
}

.articles-slider__header-labels,
.articles-slider__footer-labels {
  margin-top: 1.25rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.articles-slider__footer-labels {
  margin-bottom: 62px;
}

.articles-slider__card-label {
  display: flex;
  align-items: center;
  height: 1.625rem;
  padding: 0.375rem 0.5625rem;
  border-radius: 2px;
  font-family: "DIN Pro Cond";
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 140%;
  text-transform: uppercase;
  border: 1px solid transparent;
}

.articles-slider__card-label.--blue {
  background-color: #e2ebff;
  color: #1c48a0;
}

.articles-slider__card-label.--gray {
  border-color: #dddddd;
  color: #b3b3b3;
}

.articles-slider__card-label.--white {
  color: #333333;
  background-color: #ffffff;
}

.articles-slider__card-title {
  margin-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #dddddd;
  font-family: "DIN Pro Cond";
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  color: #333333;
}

@media (max-width: 1399.98px) {
}
@media (max-width: 1199.98px) {
}
@media (max-width: 991.98px) {
}
@media (max-width: 767.98px) {
  .articles-slider {
    flex-direction: column;
  }

  .articles-slider__controls {
    max-width: unset;
  }
  .articles-slider__content-container {
    margin-left: unset;
  }
  .articles-slider__controls .custom-button-group {
    display: none;
  }
  .articles-slider__content-container {
    margin-top: 24px;
  }
  .articles-slider__link {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .articles-slider__card-label {
    font-size: 1rem;
    padding: 0.25rem 0.5625rem;
  }
  .articles-slider {
    margin-top: 100px;
    margin-bottom: 56px;
  }
  .about-company {
    margin-top: 56px;
  }
}
@media (max-width: 575.98px) {
}

/* article slider ------------------------------------------------------*/
