@import url(./reset.css);
@import url(./buttons.css);
@import url(./cards/popular-category-cards.css);
@import url(./cards/popular-product-cards.css);
@import url(./heading.css);
@import url(./fonts/index.css);
@import url(./labels.css);
@import url(./variables.css);
@import url(./inputs.css);
@import url(./header.css);
@import url(./footer.css);
@import url(./swiper.css);

body {
  font-family: "Roboto";
  background-color: #f9f9f9;
}

.custom-scroll-bar::-webkit-scrollbar {
  width: 6px;
}

.custom-scroll-bar::-webkit-scrollbar-track {
  background-color: #ddd;
}

.custom-scroll-bar::-webkit-scrollbar-thumb {
  background-color: #1c48a0;
}

/* main -------------------------------------*/

.container {
  max-width: 1340px;
  padding: 0 20px;
  margin: 0 auto;
}

.product-categories {
}

.product-categories__title {
  margin-top: 32px;
}

.product-categories__cards-list {
  margin-top: 56px;
}

.product-categories__products {
  display: flex;
}

.product-categories__products-controls {
  width: 310px;
  outline: 1px solid green;
}

.product-categories__products-list {
  flex: 1;
  outline: 1px solid palegoldenrod;
}
/* main -------------------------------------*/

@media (max-width: 1399.98px) {
}
@media (max-width: 1199.98px) {
}
@media (max-width: 991.98px) {
  .product-categories__title {
    margin-top: 24px;
  }
  .product-categories__cards-list {
    margin-top: 40px;
  }
}
@media (max-width: 767.98px) {
  .product-categories__title {
    margin-top: 14px;
  }
  .product-categories__cards-list {
    margin-top: 30px;
  }
}
@media (max-width: 575.98px) {
  .product-categories__title {
    margin-top: 8px;
  }
  .product-categories__cards-list {
    margin-top: 20px;
  }
}

/* cards  -------------------------------------*/
.product-categories-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product-categories-cards__item {
  position: relative;
  padding: 24px;
  background-color: #ffffff;
  width: calc((100% - 60px) / 4);
  display: flex;
  flex-direction: column;
}

.product-categories-cards__item:after {
  transition: opacity 0.2s ease;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  box-shadow: 0px 15px 14px -3px rgba(48, 48, 48, 0.07);
  opacity: 0;
}

.product-categories-cards__item:hover:after {
  opacity: 1;
}

.product-categories-cards__item-img-container {
  max-height: 64px;
  min-height: 64px;
  max-width: 64px;
  min-width: 64px;
}

.product-categories-cards__item-title {
  margin-top: 16px;
  font-family: "DIN Pro Cond";
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  text-transform: uppercase;
  color: #333333;
}

.product-categories-cards__item-text {
  margin-top: 4;
  font-weight: 400;
  font-size: 12px;
  line-height: 170%;
  letter-spacing: 0.03rem;
  color: #b3b3b3;
}
/* cards -------------------------------------*/

@media (max-width: 1399.98px) {
}
@media (max-width: 1199.98px) {
  .product-categories-cards__item {
    width: calc((100% - 40px) / 3);
    padding: 22px;
  }
}
@media (max-width: 991.98px) {
  .product-categories-cards__item {
    padding: 20px;
  }
}
@media (max-width: 767.98px) {
  .product-categories-cards {
    gap: 16px;
  }
  .product-categories-cards__item-title {
    font-size: 14px;
  }
  .product-categories-cards__item {
    padding: 18px;
    width: calc((100% - 16px) / 2);
  }
}
@media (max-width: 575.98px) {
  .product-categories-cards__item {
    padding: 16px;
    /* width: calc((100% - 60px) / 4); */
  }
}
