.ui-tabs-container {
  width: inherit;
  background-color: inherit;
  display: flex;
  flex-direction: column;
}

.ui-tabs-list {
  display: flex;
  gap: 24px;
  overflow-x: auto;
}

.ui-tabs-list::-webkit-scrollbar {
  display: none;
}

.ui-tabs-list {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.ui-tabs-control {
  line-height: 160%;
  letter-spacing: 0.03rem;
  color: #2c2c2c;
  padding: 16px;
  border: 1px solid #dddddd;
  cursor: pointer;
  white-space: nowrap;
  height: fit-content;
}

.ui-tabs-control:hover {
  background-color: #eef3f4;
}

.ui-tabs-control.--active:hover {
  background-color: #2655b4;
}

.ui-tabs-control.--active {
  color: #fff;
  border: 1px solid transparent;
  background-color: #1c48a0;
}

.ui-tabs-items {
  margin-top: 20px;
  width: 100%;
  position: relative;
}

.ui-tabs-item {
  display: none;
}

.ui-tabs-item.--active {
  display: block;
}

@media (max-width: 1399.98px) {
}
@media (max-width: 1199.98px) {
}
@media (max-width: 991.98px) {
  .ui-tabs-control {
    padding: 13px 16px;
  }
  .ui-tabs-list {
    gap: 16px;
  }
}
@media (max-width: 767.98px) {
  .ui-tabs-control {
    padding: 10px 16px;
  }
  .ui-tabs-list {
    gap: 12px;
  }
}
@media (max-width: 575.98px) {
  .ui-tabs-control {
    padding: 7px 16px;
  }
  .ui-tabs-list {
    gap: 8px;
  }
}
